    <div class="advantages_blocks container my-4">
        <div class="row text-center">
            <div class="col-md-4 col-lg-2 col-6 mb-4 d-flex">
                <div class="advantage d-flex justify-content-center align-items-center">
                    <img src="/templates/major/img/shield_icon.png" alt="Гарантия">
                    <div class="advantage_text col-9 d-flex flex-column align-items-start pr-1" style="padding-left:6px">
                        <p>Гарантия</p>
                        <span>2 года</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2 col-6 mb-4 d-flex">
                <div class="advantage d-flex justify-content-center align-items-center">
                    <img src="/templates/major/img/discount_icon.png" alt="Гарантия">
                    <div class="advantage_text col-9 d-flex flex-column align-items-start pr-1">
                        <p>Скидка</p>
                        <span>до 300 000 ₽</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2 col-6 mb-4 d-flex">
                <div class="advantage d-flex align-items-center">
                    <img src="/templates/major/img/initial_payment_icon.png" alt="Первый взнос">
                    <div class="advantage_text col-9 d-flex flex-column align-items-start pr-1">
                        <p>Первый взнос</p>
                        <span>от 0%</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2 col-6 mb-4 d-flex">
                <div class="advantage d-flex align-items-center">
                    <img src="/templates/major/img/trade_in_icon.png" alt="Trade-in">
                    <div class="advantage_text col-9 d-flex flex-column align-items-start pr-1">
                        <p>Trade-in</p>
                        <span>как первый взнос</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2 col-6 mb-4 d-flex">
                <div class="advantage d-flex align-items-center">
                    <img src="/templates/major/img/passport_icon.png" alt="По паспорту">
                    <div class="advantage_text col-9 d-flex flex-column align-items-start pr-1">
                        <p>По паспорту</p>
                        <span>и правам</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-2 col-6 mb-4 d-flex">
                <div class="advantage d-flex justify-content-center align-items-center">
                    <img src="/templates/major/img/gift_icon.png" alt="Ocago">
                    <div class="col-9 d-flex flex-column align-items-start pr-1">
                        <p class="col-9 p-0">Осаго</p>
                        <span>в подарок</span>
                    </div>
                </div>
            </div>
        </div>
    </div>