	<div class="index-calc-block py-5 mb-5">
		<div class="container">
			<h2 class="h2 mb-2">Рассчёт кредита</h2>
			<div class="top-text mb-4">
				Ставка от <span>4.9%</span> годовых!
			</div>
			<div class="item mb-4">
				<p class="mb-2">Первоначальный взнос</p>
				<div class="price mb-3">
					<input type="text" id="amount" readonly> <a href="#" class="edit"></a>
				</div>
				<div id="slider-range-max"></div>
			</div>
			<div class="item mb-5">
				<p class="mb-2">Срок кредита</p>
				<div class="price mb-3">
					<input type="text" id="amount2" readonly> <a href="#" class="edit"></a>
				</div>
				<div id="slider-range-max2"></div>
				<div class="values flex mt-3">
					<div>12 месяцев</div>
					<div>88 месяцев</div>
				</div>
				<div class="payments flex mt-4">
					<div class="pt-1">Платеж:</div>
					<div>2 818 ₽/мес.</div>
				</div>
			</div>
			<div class="pre-form mb-3">
				Оставьте заявку на кредит и получите ответ от наших банков партнёров 
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="field mb-3">
						<p class="mb-2">Имя</p>
						<input type="text" placeholder="Ваше имя" class="w-100 px-3">
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="field mb-3">
						<p class="mb-2">Телефон</p>
						<input type="text" placeholder="7 (___) ___-__-__" class="w-100 px-3">
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="field mb-3">
						<button class="w-100 mb-3">Оставить заявку</button>
					</div>
				</div>
			</div>
			<div class="bottom-text">
				Нажимая на кнопку "Отправить заявку" вы даете согласие на обработку <a href="#">персональных данных</a>
			</div>
		</div>
	</div>