<div class="not-found-block position-relative mb-5">
    <div class="image" style="background: url('/templates/major/img/not-found2.png') center/cover;">
        <img src="/templates/major/img/car20.png">
    </div>
    <div class="container">
        <div class="text">
            <div class="name mb-3">
                <span class="d-block">Не нашли , что искали?</span>
                Закажите автомобиль для себя
            </div>
            <p class="mb-3">Закажите автомобиль с нужными характеристиками и комплектацией.</p>
            <p class="mb-3">Узнайте о возможностях и сроках заказа</p>
            <button data-src="#popup" data-fancybox>Узнать о заказе авто</button>
        </div>
    </div>
    <div class="container_mob container  col-12">
    <div class="image_mob" style="background: url('/templates/major/img/not-found.png') center/cover;">
        <img src="/templates/major/img/car20.png">
    </div>
    </div>
</div>