<div class="advantages-block pb-3">
		<div class="container">
			<h2 class="h2 mb-4">Преимущества</h2>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="item text-center mb-4">
						<p class="mb-2">Широкий выбор</p>
						Предлагаем большой выбор подержанных автомобилей различных марок и моделей
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item text-center mb-4">
						<p class="mb-2">Низкие цены</p>
						Предлагаем низкие цены на подержанные автомобили, что позволяет клиентам сэкономить
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item text-center mb-4">
						<p class="mb-2">Дополнительная диагностика</p>
						Перед продажей все наши автомобили проходят дополнительную диагностику и ремонт, что гарантирует их качество и безопасность
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item text-center mb-4">
						<p class="mb-2">Гарантийные обязательства</p>
						Предоставляем гарантию на все подержанные автомобили, что даёт Вам дополнительный уровень защиты
					</div>
				</div>
			</div>
		</div>
	</div>