{{ runSnippet('DLCrumbs', {
showCurrent: 1,
sysKey: 'crumbs',
ownerTPL: '@CODE:<div class="navi pt-4 pb-5">
    <div class="container">
            [+crumbs.wrap+]
        </div>
</div>',

tpl:'@CODE: <a itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"  href="[+url+]">[+title+]</a><span> |</span>
',
tplCurrent: '@CODE:
<a itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"  href="[+url+]">[+title+]</a>',
addWhereList: 'AND (alias_visible=1 OR id=1)',
}) | raw}}



