
<div class="index-services-block mb-5">
	<div class="container">
		<h2 class="h2 mb-4">Услуги</h2>
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="item mb-3 position-relative" style="background: url('templates/chinafresh/img/service1.png') center/cover;">
					<div class="content position-absolute w-100 text-center">
						<p class="mb-3">Оценка и выкуп</p>
						<a class="d-inline-block" data-fancybox data-src="#popup" type="button">Хочу обсудить</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="item mb-3 position-relative" style="background: url('templates/chinafresh/img/service2.png') center/cover;">
					<div class="content position-absolute w-100 text-center">
						<p class="mb-3">Обмен Trade-In</p>
						<a data-fancybox data-src="#popup" type="button" class="d-inline-block btn">Хочу обсудить</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="item mb-3 position-relative" style="background: url('templates/chinafresh/img/service3.png') center/cover;">
					<div class="content position-absolute w-100 text-center">
						<p class="mb-3">Подбор под ключ</p>
						<a data-fancybox data-src="#popup" type="button" class="d-inline-block">Хочу обсудить</a>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-link text-center pt-3">
			<a href="#" class="d-block">Показать все услуги <i class="fa fa-angle-down"></i></a>
		</div>
	</div>
</div>
