<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Услуги</title>
    </head>
    <body>
        <%= require('../includes/header.html').default %>
        <hr class="m-0 d-xl-none" />
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">Услуги</li>
                </ol>
            </nav>
        </div>
        <hr class="m-0" />
        <div class="container p-4 py-5">
            <h4 class="fw-bold mb-5">Услуги</h4>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="service">
                        <div class="service-bg"></div>
                        <div class="service-img">
                            <img src="/templates/atlant/images/services/1.png" alt="" />
                        </div>
                        <div class="service-body">
                            <div class="service-title">Автокредит</div>
                            <div class="service-content">
                                <span class="text-red fw-bold fs-5">от 6 %</span>
                            </div>
                            <div class="service-link">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="service">
                        <div class="service-bg"></div>
                        <div class="service-img">
                            <img src="/templates/atlant/images/services/2.png" alt="" />
                        </div>
                        <div class="service-body">
                            <div class="service-title">Такси</div>
                            <div class="service-content">
                                <span class="text-red fw-bold fs-5">
                                    бесплатно<br />
                                    до салона
                                </span>
                            </div>
                            <div class="service-link">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="service">
                        <div class="service-bg"></div>
                        <div class="service-img">
                            <img src="/templates/atlant/images/services/3.png" alt="" />
                        </div>
                        <div class="service-body">
                            <div class="service-title">Трейд ин</div>
                            <div class="service-content">
                                <span class="text-red fw-bold fs-5">
                                    замена авто<br />
                                    на новое
                                </span>
                            </div>
                            <div class="service-link">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="service">
                        <div class="service-bg"></div>
                        <div class="service-img">
                            <img src="/templates/atlant/images/services/4.png" alt="" />
                        </div>
                        <div class="service-body">
                            <div class="service-title">Страховка</div>
                            <div class="service-content">
                                <span class="text-red fw-bold fs-5">
                                    осаго или<br />
                                    каско
                                </span>
                            </div>
                            <div class="service-link">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="service">
                        <div class="service-bg"></div>
                        <div class="service-img">
                            <img src="/templates/atlant/images/services/5.png" alt="" />
                        </div>
                        <div class="service-body">
                            <div class="service-title">Сервис</div>
                            <div class="service-content">
                                <span class="text-red fw-bold fs-5">
                                    бесплатно<br />
                                    до салона
                                </span>
                            </div>
                            <div class="service-link">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="service">
                        <div class="service-bg"></div>
                        <div class="service-img">
                            <img src="/templates/atlant/images/services/6.png" alt="" />
                        </div>
                        <div class="service-body">
                            <div class="service-title">Регистрация</div>
                            <div class="service-content">
                                <span class="text-red fw-bold fs-5">авто в ГИБДД</span>
                            </div>
                            <div class="service-link">
                                <a href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-4 py-5">
            <h4 class="fw-bold mb-5">Акции и скидки</h4>
            <div class="row mb-5">
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="stock">
                        <div class="stock-bg"></div>
                        <div class="stock-img">
                            <img src="/templates/atlant/images/stocks/1.png" alt="" />
                        </div>
                        <div class="stock-body">
                            <div class="stock-title">Trade-in</div>
                            <div class="stock-content">
                                <p class="m-0 fw-bold text-end">
                                    Выгода до <span class="text-red fs-5">254 000 ₽</span>
                                </p>
                                <p class="m-0 small">
                                    Текст с кратким описанием акции по трейд-ину в автосалоне Атлант
                                    Перечисляем основные триггерные преимущества.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="stock">
                        <div class="stock-bg"></div>
                        <div class="stock-img">
                            <img src="/templates/atlant/images/stocks/2.png" alt="" />
                        </div>
                        <div class="stock-body">
                            <div class="stock-title">Госпрограмма</div>
                            <div class="stock-content">
                                <p class="m-0 fw-bold text-end">
                                    Выгода до <span class="text-red fs-5">254 000 ₽</span>
                                </p>
                                <p class="m-0 small">
                                    Текст с кратким описанием акции по трейд-ину в автосалоне Атлант
                                    Перечисляем основные триггерные преимущества.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="stock">
                        <div class="stock-bg"></div>
                        <div class="stock-img">
                            <img src="/templates/atlant/images/stocks/3.png" alt="" />
                        </div>
                        <div class="stock-body">
                            <div class="stock-title">Зимние шины</div>
                            <div class="stock-content">
                                <p class="m-0 fw-bold text-end text-red">В подарок!</p>
                                <p class="m-0 small text-justify">
                                    Текст с кратким описанием акции по трейд-ину в автосалоне Атлант
                                    Перечисляем основные триггерные преимущества.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('../includes/feedback.html').default %>
        <div></div>
        <%= require('../includes/footer.html').default %>
    </body>
</html>
