<div class="item col-4">
    <img src="{{ runSnippet('phpthumb', {input: data['tv.image'], options:'h=300,zc=1'}) }}" class="w-100">
    <a href="#" class="d-block text-center py-3 px-lg-5 px-3">{{ data.title }}</a>
</div>