<form class="extrafilter col-12" method="POST">
    <div class="row">
        {{ data['wrap'] | raw }}
    </div>
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-danger mt-2" data-filters-button>Показать результаты</button>
    </div>
</form>
