<div class="advantages-block pb-2">
			<div class="block-name mb-5">
				Преимущества Автосалона
			</div>
			<div class="row pb-3 d-flex">
				<div class="col-xl-4 col-lg-4 col-sm-12 h-100  flex-align-stretch" data-fancybox="" data-src="#popup" type="button">
					<div class="item mt-4 mb-4 overflow-hidden">
						<img class="rounded" src="/templates/chinaautosalon/images/adv3.png">
					</div>
				</div>
		
				<div class="col-xl-8 col-lg-8 col-sm-12 h-100 d-flex" data-fancybox="" data-src="#popup" type="button">
					<div class="item mt-4 mb-4 overflow-hidden">
						<img class="rounded" style="" src="/templates/chinaautosalon/images/Group53.png">
					</div>
				</div>
				<!--<div class="col-xl-3 col-lg-4 col-sm-6 h-100 flex-align-stretch">
					<div class="item p-sm-4 p-3 mb-4">
						<img src="/templates/autosalon/img/advantages4.svg">
						<div class="name position-relative">
							<span class="w-100">Работаем по всей территории РФ </span>
						</div>
						<p class="mb-3">благодаря широкой сети филиалов и партнеров, автосалон может предложить свои услуги в любом регионе России, что обеспечивает удобство для клиентов из разных городов и регионов.</p>
						<a href="#">Подробнее</a>
					</div>
				</div>-->
			</div>
		</div>