{% extends 'app.twig' %}
{% set brand = runSnippet('DocLister',{
parents: 27, depth: 0, tpl:'@CODE:<option style="z-index:999" value="[+pagetitle+]">[+pagetitle+]</option>'
}) %}
{#{{ runSnippet('DocLister', {display: 20, parents: 27, depth: 0, tvList:'car-price,old-car-price,car_photos', tpl:'@CODE:<section class="section-50 used-cars-block">
  <div class="container">
    <div class="section__top">
      <h2 class="section-title title-black mb-36">[+pagetitle+]<a class="catalog-link" href="[+url+]">
          Все модели<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 16.5L14 10.4154L8.1669 4.5" stroke="#F72446" stroke-width="3" stroke-linecap="round" />
          </svg>
        </a>
      </h2>
      <div class="cards">
        [+news+]
      </div>
    </div>
</section>',prepare:'FolderCars'
}) |raw}} #}
{% block MAIN %}
<div class="calc-banner mb-5" style="">
    <div class="container">
        <div class="text">
            <p class="mb-4">{{resource.pagetitle}}</p>
            <button class="btn btn-danger big w-100" data-toggle="modal" data-target="#popup">Получить предложение</button>
        </div>
    </div>
</div>
<div class="calc-block pb-5 mb-4">
        <div class="container">
            <div class="block-name mb-3">
                Выгода при покупке в кредит!
            </div>
            <div class="top-text mb-4">
                Ставка от 0.1% годовых!
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="calc">
                        <div class="item mb-4">
                            <div class="name mb-3">
                                Сумма кредита
                            </div>
                            <div class="field mb-4">
                                <input type="text" id="amount" readonly="">
                                <a class="edit"></a>
                            </div>
                            <div id="slider-range-max" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-max" style="width: 99.4872%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0.512821%;"></span></div>
                            <div class="values pt-3 flex">
                                <div>250 000 ₽</div>
                                <div>10 000 000 ₽</div>
                            </div>
                        </div>
                        <div class="item mb-4">
                            <div class="name mb-3">
                                Первоначальный взнос
                            </div>
                            <div class="field mb-4">
                                <input type="text" id="amount2" readonly="">
                                <a class="edit"></a>
                            </div>
                            <div id="slider-range-max2" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-max" style="width: 55.5556%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 44.4444%;"></span></div>
                        </div>
                        <div class="item mb-4">
                            <div class="name mb-3">
                                Срок кредита
                            </div>
                            <div class="field mb-4">
                                <input type="text" id="amount3" readonly="">
                                <a class="edit"></a>
                            </div>
                            <div id="slider-range-max3" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-max" style="width: 84.2105%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15.7895%;"></span></div>
                            <div class="values pt-3 flex">
                                <div>12 месяцев</div>
                                <div>88 месяцев</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="result mb-4">
                        <div class="name mb-4">
                            Наше предложение
                        </div>
                        <table class="w-100 mb-4">
                            <tbody><tr>
                                <td>Кредитная ставка:</td>
                                <td>0,1 %</td>
                            </tr>
                            <tr>
                                <td>Программа:</td>
                                <td>Первый автомобиль</td>
                            </tr>
                            <tr>
                                <td>Первоначальный взнос:</td>
                                <td>100 000 ₽</td>
                            </tr>
                            <tr>
                                <td>Сумма кредита:</td>
                                <td>300 000 ₽</td>
                            </tr>
                            <tr>
                                <td>Срок:</td>
                                <td>14 месяцев</td>
                            </tr>
                        </tbody></table>
                        <div class="finish flex">
                            <div>Ежемесячный платеж:</div>
                            <div>2 818 ₽/мес.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-button text-center pt-3">
                <button class="btn btn-danger big">Рассчитать кредит</button>
            </div>
        </div>
    </div>
    {% include '/partials/advantages.twig' %}


    {{ runSnippet('Form', {
    formid: 'FormCredit',
    path: '/templates/autodm/partials/forms/credit/',
    extension: 'twig'
    }) | raw }}
  

{% endblock %}
{% block SCRIPTS %}
<script src="static/js/choices.min.js"></script>
<script src="static/js/select2.js"></script>
{% endblock %}