<div class="advantages-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <img src="/templates/autodm/img/advantages1.svg">
                    </div>
                    <p>Тщательная проверка</p>
                    Все автомобили проходят комплексную проверку перед продажей.
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <img src="/templates/autodm/img/advantages2.svg">
                    </div>
                    <p>Точно в цель</p>
                    Благодаря большому складу авто и онлайн витрине вы можете выбрать ровно то, что Вам нужно.
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <img src="/templates/autodm/img/advantages3.svg">
                    </div>
                    <p>Безопасность</p>
                    На все автомобили, продаваемые в нашем салоне, мы даем дополнительную гарантию.
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <img src="/templates/autodm/img/advantages4.svg">
                    </div>
                    <p>Доступность</p>
                    Мы находимся в удобном месте - до нас можно добраться на любом виде транспорта.
                </div>
            </div>
        </div>
    </div>
</div>