{% set DLCatalogno = runSnippet('DocLister', {
id: 'catalog',
display: 6,
parents: 27,
depth: 5,
tvList:'car-price,car_photos,run,engine_power,gear,year,image',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
noneTPL:'@CODE: <div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
    </div>
  </div>
</div>',
})
%}


  <div class="container-fluid catalog-products" id="catalog">
    <h2>Не нашли что искали? Посмотрите специальную подборку!</h2>
    {{DLCatalogno |raw}}
  </div>
  <div class="bottom-button">
  </div>
</div>