.header .logo a {
  background: url('../img/logo.svg') center / cover;
}
.header .contacts .phone span {
  color: #bf151b;
}
.header .contacts .adress {
  background: url('../img/adress.svg') no-repeat 0 0;
}
.btn.btn-danger {
  box-shadow: 0px 4px 12px rgba(226, 29, 37, 0.22);
  background: radial-gradient(86.86% 643.32% at 4.78% 16.94%, rgba(176, 0, 0, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(57.77% 174.19% at 36.86% 100%, rgba(255, 98, 154, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(59.64% 374.11% at 87.37% 0%, rgba(255, 22, 22, 0.56) 0%, rgba(255, 0, 0, 0) 100%) #be2e39;
}
.btn.btn-outline-danger {
  box-shadow: 0px 4px 12px rgba(226, 29, 37, 0.22);
  color: #bf151b;
  border: 3px solid #bf151b;
}
.top-menu .menu-button {
  background: url('../img/menu-button.svg') no-repeat 0 4px;
}
.top-menu .catalog .block-name span {
  color: #bf151b;
}
.top-menu .catalog .item span {
  background: #bf151b;
}
.index-filter-block .filter .name span {
  color: #bf151b;
}
.index-filter-block .filter .top-link {
  color: #bf151b;
}
.form-select {
  background: url('../img/select.svg') no-repeat right 14px top 50%;
}
.number span.plus {
  background: url('../img/plus.svg');
}
.number span.minus {
  background: url('../img/minus.svg');
}
.index-cars-select .block-name span {
  color: #bf151b;
}
.index-cars-select .item a span {
  background: #bf151b;
}
.index-cars-select .item span {
  background: #bf151b;
}
.best-offers-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.best-offers-block .item:hover:after {
  background: url('../img/offerlogo.svg');
}
.best-offers-block .item .number {
  color: #bf151b;
}
.advantages-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bottom-map-block .content .contacts .phone span {
  color: #bf151b;
}
.bottom-map-block .content .contacts .adress {
  background: url('../img/adress.svg') no-repeat 0 1px;
}
.footer .contacts .phone span {
  color: #bf151b;
}
.footer .contacts .adress {
  background: url('../img/adress.svg') no-repeat 0 0;
}
.mobile-header .logo a {
  background: url('../img/mob-logo.svg');
}
.mobile-header .menu-button {
  background: url('../img/menu.svg');
}
.mobile-menu {
  background: radial-gradient(86.86% 643.32% at 4.78% 16.94%, rgba(176, 0, 0, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(57.77% 174.19% at 36.86% 100%, rgba(255, 98, 154, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(59.64% 374.11% at 87.37% 0%, rgba(255, 22, 22, 0.56) 0%, rgba(255, 0, 0, 0) 100%), #be2e39;
}
.mobile-menu .btn {
  color: #bf151b;
}
.popup {
  background: #f9f9f9 url('../img/popup.png') no-repeat top right !important;
}
.popup .name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.popup .checkbox + label a {
  color: #bf151b;
}
.navi span {
  color: #bf151b;
}
.h1 h1 {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.catalog-page .block-name span {
  color: #bf151b;
}
.catalog-page .top-link {
  background: url('../img/arrow.svg') no-repeat right top;
}
.catalog-page .tags .tag span {
  background: #bf151b;
}
.catalog-page .searched span {
  color: #bf151b;
}
.catalog-page .item .price {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.catalog-page .navigation .pagination .page-item .page-link:hover {
  color: #bf151b;
}
.catalog-page .navigation .pagination .page-item .page-link-active {
  color: #bf151b;
}
.item-page .price {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.item-page .discount {
  color: #bf151b;
  background: url('../img/discount.svg') no-repeat 13px 20px;
}
.item-page .but.wh {
  color: #bf151b;
  border: 2px solid #bf151b;
}
.steps-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.steps-block .flex .item .icon span {
  background: #bf151b;
}
.steps-block .flex .item .name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.steps-block .flex .item .time {
  color: #bf151b;
}
.header .logo a {
  background: url('../img/logo.svg') center / cover;
}
.header .contacts .phone span {
  color: #bf151b;
}
.header .contacts .adress {
  background: url('../img/adress.svg') no-repeat 0 0;
}
.btn.btn-danger {
  box-shadow: 0px 4px 12px rgba(226, 29, 37, 0.22);
  background: radial-gradient(86.86% 643.32% at 4.78% 16.94%, rgba(176, 0, 0, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(57.77% 174.19% at 36.86% 100%, rgba(255, 98, 154, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(59.64% 374.11% at 87.37% 0%, rgba(255, 22, 22, 0.56) 0%, rgba(255, 0, 0, 0) 100%) #be2e39;
}
.btn.btn-outline-danger {
  box-shadow: 0px 4px 12px rgba(226, 29, 37, 0.22);
  color: #bf151b;
  border: 3px solid #bf151b;
}
.top-menu .menu-button {
  background: url('../img/menu-button.svg') no-repeat 0 4px;
}
.top-menu .catalog .block-name span {
  color: #bf151b;
}
.top-menu .catalog .item span {
  background: #bf151b;
}
.index-filter-block .filter .name span {
  color: #bf151b;
}
.index-filter-block .filter .top-link {
  color: #bf151b;
}
.form-select {
  background: url('../img/select.svg') no-repeat right 14px top 50%;
}
.number span.plus {
  background: url('../img/plus.svg');
}
.number span.minus {
  background: url('../img/minus.svg');
}
.index-cars-select .block-name span {
  color: #bf151b;
}
.index-cars-select .item a span {
  background: #bf151b;
}
.best-offers-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.best-offers-block .item:hover:after {
  background: url('../img/offerlogo.svg');
}
.best-offers-block .item .number {
  color: #bf151b;
}
.advantages-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bottom-map-block .content .contacts .phone span {
  color: #bf151b;
}
.bottom-map-block .content .contacts .adress {
  background: url('../img/adress.svg') no-repeat 0 1px;
}
.footer .contacts .phone span {
  color: #bf151b;
}
.footer .contacts .adress {
  background: url('../img/adress.svg') no-repeat 0 0;
}
.mobile-header .logo a {
  background: url('../img/mob-logo.svg');
}
.mobile-header .menu-button {
  background: url('../img/menu.svg');
}
.mobile-menu {
  background: radial-gradient(86.86% 643.32% at 4.78% 16.94%, rgba(176, 0, 0, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(57.77% 174.19% at 36.86% 100%, rgba(255, 98, 154, 0.56) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(59.64% 374.11% at 87.37% 0%, rgba(255, 22, 22, 0.56) 0%, rgba(255, 0, 0, 0) 100%), #be2e39;
}
.mobile-menu .btn {
  color: #bf151b;
}
.popup {
  background: #f9f9f9 url('../img/popup.png') no-repeat top right !important;
}
.popup .name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.popup .checkbox + label a {
  color: #bf151b;
}
.navi span {
  color: #bf151b;
}
.h1 h1 {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.catalog-page .block-name span {
  color: #bf151b;
}
.catalog-page .top-link {
  background: url('../img/arrow.svg') no-repeat right top;
}
.catalog-page .tags .tag span {
  background: #bf151b;
}
.catalog-page .searched span {
  color: #bf151b;
}
.catalog-page .item .price {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.catalog-page .navigation .pagination .page-item:first-child .page-link {
  color: #bf151b;
}
.catalog-page .navigation .pagination .page-item:last-child .page-link {
  color: #bf151b;
}
.catalog-page .navigation .pagination .page-item .page-link:hover {
  color: #bf151b;
}
.item-page .price {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.item-page .discount {
  color: #bf151b;
  background: url('../img/discount.svg') no-repeat 13px 20px;
}
.item-page .but.wh {
  color: #bf151b;
  border: 2px solid #bf151b;
}
.steps-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.steps-block .flex .item .icon span {
  background: #bf151b;
}
.steps-block .flex .item .name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #1e1e1e, #1e1e1e), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.steps-block .flex .item .time {
  color: #bf151b;
}
.header.new {
  background: #bf151b;
}
.timer-block form select {
  background: #ffffff url('../img/select.svg') no-repeat right 14px top 50%;
}
.timer-block form .link a {
  color: #bf151b;
}
.timer-block .timer .date {
  color: #bf151b;
}
.timer-block .timer button {
  background: #bf151b;
}
.actions-block .block-name span {
  color: #bf151b;
}
.actions-block .top-link {
  color: #bf151b;
}
.actions-block .item .action {
  background: #bf151b;
}
.actions-block .item .price .new {
  color: #bf151b;
}
.actions-block .item .payment span {
  color: #bf151b;
}
.actions-block .item .buttons button:nth-child(2) {
  border: 1px solid #bf151b;
  color: #bf151b;
}
.actions-block .item .buttons button:nth-child(3) {
  background: #bf151b;
}
.auto-sale-form form select {
  background: #ffffff url('..templates/autodealer/img/select.svg') no-repeat right 14px top 50%;
}
.auto-sale-form form .bottom-text a {
  color: #bf151b;
}
.credit-form form .bottom-text a {
  color: #bf151b;
}
.banks-block .block-name {
  background: radial-gradient(71.25% 688.71% at 66.06% 124.19%, #e02228 0%, rgba(224, 34, 40, 0) 100%), #1e1e1e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.credit-banner .banner .item {
  border-left: 12px solid #bf151b;
}
.credit-catalog .item a {
  background: url('../img/credit-arrow.svg') no-repeat left bottom;
}
.calc-block .calc .ui-widget-content {
  background: #bf151b;
}
.calc-block .calc .ui-state-default,
.calc-block .calc .ui-widget-content .ui-state-default,
.calc-block .calc .ui-widget-header .ui-state-default,
.calc-block .calc .ui-button,
.calc-block .calc html .ui-button.ui-state-disabled:hover,
.calc-block .calc html .ui-button.ui-state-disabled:active {
  border: 3px solid #bf151b;
}
.advantages-block .item2 svg path {
  fill: #bf151b;
}
.actions-calc .item .name span {
  color: #bf151b;
}
.actions-calc .item table tr td.color {
  color: #bf151b;
}
.actions-calc .item button:hover {
  background: #bf151b;
}
.actions-calc .item .bottom-text.color {
  color: #bf151b;
}
.actions-calc .item .bottom-text .color {
  color: #bf151b;
}
