<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Отзывы</title>
    </head>
    <body>
        <%= require('../includes/header.html').default %>
        <hr class="m-0 d-xl-none" />
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active">Отзывы</li>
                </ol>
            </nav>
        </div>
        <hr class="m-0" />
        <div class="container p-4 py-5">
            <h4 class="fw-bold mb-5">Отзывы</h4>
            <div class="row">
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/1.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/2.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/3.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/4.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/1.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/2.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/3.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/4.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/1.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/2.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/3.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mb-4">
                    <div class="card shadow border-0">
                        <img src="/templates/atlant/images/reviews/4.png" class="card-img-top" alt="..." />
                        <div class="card-body review-body">
                            <h5 class="card-title fw-bold">Opel Astra</h5>
                            <p class="card-text fw-bold mb-1">Янкевич Д.В.</p>
                            <p class="card-text">
                                Благодарю менеджера Станислава и всю команду сотрудников за
                                оперативный сервис, качественную...
                            </p>
                            <div class="row">
                                <div class="col">21.02.2022</div>
                                <div class="col text-end">
                                    <a href="#" class="link-review fw-bold">Читать отзыв</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="py-5">
                <ul class="pagination">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
        <%= require('../includes/feedback.html').default %>
        <div></div>
        <%= require('../includes/footer.html').default %>
    </body>
</html>
