{% set site_start = modx.config['site_start'] %}
{% set gifts = runSnippet('DocLister', {
display: 3,
parents: site_start,
depth: 3,
addWhereList: 'c.template = (13)',
tvList:'image,color',
tpl:'@T_FILE:partials/actions_actions'
})
%}

<div class="credit-catalog pb-3">
    <div class="container">
        <div class="row">
            {% if gifts is empty %}
            Добавьте акции в админ-панели
            {% else %}
            {{gifts | raw}}
            {% endif %}
        </div>
    </div>
</div>
