<div class="col-md-4 col-sm-6">
    <div class="item mb-4">
        <img src="{{data['tv.image']}}" class="w-100 mb-3">
        <a href="{{data.url}}" class="d-block pb-5">{{ data.title }}</a>
    </div>
</div>
