<div class="best-offers-block pt-5 pb-4 mb-5">
        <div class="container">
            <div class="block-name mb-5">
                Наши лучшие предложения
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item bg-light mb-4 pt-5 pb-5 px-4">
                        <div class="number">
                            #1
                        </div>
                        <p class="mt-3 pr-4">Приезжаете к нам. Мы оцениваем ваш автомобиль и говорим стоимость выкупа</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item bg-light mb-4 pt-5 pb-5 px-4">
                        <div class="number">
                            #2
                        </div>
                        <p class="mt-3 pr-4">Выбираем новую модель, которую вы хотите приобрести. Проводим тест-драйв</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item bg-light mb-4 pt-5 pb-5 px-4">
                        <div class="number">
                            #3
                        </div>
                        <p class="mt-3 pr-4">Мы оформляем сделку по покупке нового автомобиля и зачислении старого авто как части оплаты</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item bg-light mb-4 pt-5 pb-5 px-4">
                        <div class="number">
                            #4
                        </div>
                        <p class="mt-3 pr-4">Вы уезжаете на новом автомобиле с учетом стоимости вашего автомобиля</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-block pt-4 pb-5">
        <div class="container">
            <div class="block-name mb-5 pb-2">
                Преимущества автосалона {{baseSettings["salon-name"]}}
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages1.svg">
                        <p class="mt-4">Мы предлагаем широкий выбор автомобилей на выбор, включая новые и подержанные легковые и грузовые автомобили, внедорожники и многое другое.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages2.svg">
                        <p class="mt-4">Мы обеспечиваем душевное спокойствие благодаря нашим гарантиям и планам технического обслуживания новых и подержанных автомобилей.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages3.svg">
                        <p class="mt-4">Наши профессиональные продавцы и механики предоставляют квалифицированные консультации и обслуживание.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages4.svg">
                        <p class="mt-4">Мы облегчим вам покупку автомобиля благодаря удобным вариантам финансирования.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>