<div class="advantages-block pt-4 pb-5">
        <div class="container">
            <div class="block-name mb-5 pb-2">
                Преимущества автосалона {{baseSettings.pagetitle}}
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages1.svg">
                        <p class="mt-4">Мы предлагаем широкий выбор автомобилей на выбор, включая новые и подержанные легковые и грузовые автомобили, внедорожники и многое другое.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages2.svg">
                        <p class="mt-4">Мы обеспечиваем душевное спокойствие благодаря нашим гарантиям и планам технического обслуживания новых и подержанных автомобилей.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages3.svg">
                        <p class="mt-4">Наши профессиональные продавцы и механики предоставляют квалифицированные консультации и обслуживание.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item mb-4">
                        <img src="/templates/autodealer/img/advantages4.svg">
                        <p class="mt-4">Мы облегчим вам покупку автомобиля благодаря удобным вариантам финансирования.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>