{% extends 'app.twig' %}

{% block MAIN %}

    <main class="main container">
        <div class="navi py-4">
            {% include('partials/crumbs.twig') %}
        </div>
        <div class="action-page pb-5">
            <div class="back-link text-center py-3">
                <a href="#">Назад к <span>акциям</span></a>
            </div>
            <div class="image mb-5 position-relative" style="background: url('../img/action2.png') center/cover;">
                <div class="text position-absolute">
                    <div class="name mb-sm-2">
                        Дни открытых дверей <button>Записаться</button>
                    </div>
                    <div class="name2 mb-sm-4">
                        Каждую первую субботу месяца
                    </div>
                    <p>Приглашаем вас на <span>авто</span>пати</p>
                </div>
            </div>
            <h1 class="h1 mb-3">Заголовок акции</h1>
            <div class="txt mb-3">
                Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции. Текст описания акции.
            </div>
        </div>
    </main>
    <div class="page-form py-4">
        <div class="container">
            <div class="name text-center mb-sm-5 mb-4">
                Остались вопросы? Мы с вами свяжемся!
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <input type="text" class="w-100 mb-4 px-3" placeholder="Имя">
                </div>
                <div class="col-md-4 col-sm-6">
                    <input type="text" class="w-100 mb-4 px-3" placeholder="Телефон">
                </div>
                <div class="col-md-4">
                    <button class="w-100 mb-3">Позвоните мне</button>
                </div>
            </div>
            <div class="bottom-text text-right mb-2">
                Нажимая кнопку, вы принимаете условия <a href="#">Политики конфиденциальности</a>, а также даете согласие на обработку персональных данных
            </div>
        </div>
    </div>
{% endblock %}

