{% extends './app.twig' %}
{% set catalog_number = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}

{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
controller: 'catalog_filters',
display: 18,
parents: catalog_number,
depth: 5,
tvList:'car-price,car_photos,run,engine_power,gear,year,image',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard3',
paginate:'pages',
TplNextP:'@CODE:<li><a href="[+link+]"><span class="next"></span></a></li>',
TplPrevP:'@CODE:<li><a href="[+link+]"><span class="prev"></span></a></li>',
TplPage:'@CODE:<li class="d-inline-block"><a href="[+link+]" class="d-block ">[+num+]</a></li>',
TplCurrentPage:'@CODE:<li class="d-inline-block"><a href="[+link+]" class="d-block active">[+num+]</a></li>',
TplWrapPaginate:'@CODE:[+wrap+]',
noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-5 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
})
%}
{% block MAIN %}
{#% include('partials/crumbs.twig') %#}
<div class="catalog-page pb-5">
    <div class="filter">
        <div class="flex">
            <select class="px-3">
                <option>Выберите марку авто</option>
                <option>Выберите марку авто</option>
                <option>Выберите марку авто</option>
            </select>
            <select class="px-3">
                <option>Выберите модель авто</option>
                <option>Выберите модель авто</option>
                <option>Выберите модель авто</option>
            </select>
            <div class="fields flex">
                <input type="text" class="px-3" placeholder="Цена от">
                <input type="text" class="px-3" placeholder="Цена до">
            </div>
            <button>Показать</button>
        </div>
    </div>
	<h1 class="h1 mb-4">Каталог автомобилей с пробегом</h1>
    {{DLCatalog |raw}}
	<div class="pages text-center">
		<ul class="d-inline-block">
			{{ plh['catalog.pages'] | raw }}
		</ul>
	</div>
</div>
{{runSnippet ('bdebug', {})}}
{% include 'partials/advantages.twig' %}
{#<script type="text/javascript">
var waitForJQuery2 = setInterval(function() {
	if (typeof $ != 'undefined') {
		$(function() {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 50000,
				values: [10000, 30000],
				slide: function(event, ui) {
					$("#amount").val("Цена от " + ui.values[0] + " р.");
					$("#amount2").val("Цена до " + ui.values[1] + " р.");
				}
			});
			$("#amount").val("Цена от " + $("#slider-range").slider("values", 0) + " р.");
			$("#amount2").val("Цена до " + $("#slider-range").slider("values", 1) + " р.");
		});
		clearInterval(waitForJQuery2);
	}
}, 1000);
</script>#}
{% endblock %}
