<form class="form">
	<div class="feedback-form bg-secondary text-white p-5 rounded-3">
		<div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        
      </div>
		<div class="row mb-3">
			<div class="col">
				
				<p class="p-5 text-white">Спасибо за обращение, {{ data['name'] }}<br />
					Мы свяжемся с Вами в ближайшее время!</p>
			</div>
		</div>
</form>