{% set bank_logos = runSnippet('DocInfo', {field: 'images', docid: 41118}) | json%}
{% set headingbank = runSnippet('DocInfo', {field: 'longtitle', docid: 41118}) | raw %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<div class="brands">
    <div class="container">
        <h2 class='pb-1' style="style="font-weight: 700;
    font-size: 28px;
    line-height: 34px;"">{{headingbank}}</h2>
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">
                    <div class="owl-carousel owl-theme brands_slider">
                        {% for item in bank_logos["fieldValue"] %}
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="{{item.image}}">
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
 .brands {
     width: 100%;
     padding-top: 90px;
     padding-bottom: 90px
 }

.brands_slider_container {
    height: 130px;
    padding: 1px 0px 1px 30px;
    background: #f2f3f7;
    border-radius: 20px;
}

 .brands_slider {
     height: 100%;
     margin-top: 37px
 }

 .brands_item {
     height: 100%
 }

 .brands_item img {
     max-width: 100%;
     max-height: 50px;
 }

 .brands_nav {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     padding: 5px;
     cursor: pointer
 }

 .brands_nav i {
     color: #e5e5e5;
     -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
     -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
     transition: all 200ms ease
 }

 .brands_nav:hover i {
     color: #676767
 }

 .brands_prev {
     left: 40px
 }

 .brands_next {
     right: 40px
 }
 </style>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    var owl = $('.brands_slider');
    owl.owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    });
});
</script>