{% set brandsarray = runSnippet('getCache', {
    snippetName:'brands_array',
    key: baseSettings["id"] ~ "rofl-new" ~ baseSettings['catalog_number'],
    lifetime: '36000',
    parent: baseSettings['catalog_number'],
}) %}
{% set brandsCount = brandsarray | count %}
{% set brandsCount = brandsCount / 5 %}
{% set brandsarray = brandsarray | batch(brandsCount, "") %}

<div class="cars-in-stock-block pt-5 pb-4">
    <div class="container">
        <h2 class="h2 mb-4">Авто в наличии</h2>
        <div class="d-flex">
            {% for group in brandsarray %}
                <div class="list">
                    {% for brand in group %}
                        <div class="item position-relative mb-3">
                            <a href="/filters/{{ brand.name }}">{{ brand.name }}
                                <span class="pt-1 pr-2 pb-1 pl-2">{{ brand.count }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
