        <footer class="footer position-relative py-4">
        <a href="#top" class="totop position-absolute"></a>
        <div class="container d-flex">
            <div class="logo">
                <a href="/"><img src="{{  runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=120,h=50,far=C,f=png,q=1'}) }}"> 
                <span class="align-middle pl-2 ml-2 text-light">{{baseSettings.salon_location}}</span>{#Вставил адрес здесь#}
                </a>

            </div>
            <ul class="pt-2">
                <li class="d-inline-block"><a href="/avtomobili-s-probegom" class="text-light">Каталог</a></li>
                <li class="d-inline-block"><a href="/akcii2" class="text-light">Акции</a></li>
                <li class="d-inline-block"><a href="/kontakty" class="text-light">Контакты</a></li>
            </ul>
            <a href="#" class="phone pt-2 text-light">{{  runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class: 'phone text-light'}) | raw}} </a>
        </div>
    </footer>
    <div class="copyright-block text-center py-2">
        <div class="container">
            © {{baseSettings["pagetitle"]}}, 2023. Все права защищены
        </div>
    </div>
    <div class="container"><p style="font-size: 8px;" class="pt-1">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджерам автосалона.

Кредит предоставляется Банком-партнером АО "ОТП Банк" Ген. лицензия ЦБ РФ № 2766 от 27.11.2014. Страховые услуги СПАО "Ингосстрах" лицензия ЦБ РФ №0928 от 23.09.2015.
</p></div>
