{% set headermenu = runSnippet('DLMenu', {
    parents: 23560,
    tvList: 'image',
    rowTpl: '@CODE:<li class="d-md-inline-block"><a href="[+url+]">[+pagetitle+]</a></li>',
    outerTpl: '@CODE:<ul class="pt-md-2 mt-md-1">
        [+wrap+]</ul>'}) %}    
    <div class="menubg"></div>
    <header class="header py-md-3 py-2">
        <div class="container d-flex position-relative">
            <a class="menu-button"></a>
            <div class="logo pt-md-1 pt-2 pl-md-0 pl-5 ml-sm-0 ml-2" style="background-image: url({{  runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=120,h=50,far=C,f=png,q=1'}) }}); background-size: contain;
        background-repeat: no-repeat;
        background-position: right;">
                <a href="/"></a>
            </div>
                                      {{ headermenu|raw}}
<div style="text-align: left;
    margin: 0 px 10px 0px 0px;
    MAX-WIDTH: 145PX;
    LINE-HEIGHT: 13PX;
    font-size: 11px;">
                {{baseSettings.salon_location}}
            </div> 
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-light ml-xl-4">Заказать звонок</button>
            {{  runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx‑xx‑xx', link: '1', class:"phone pl-md-4 mt-md-2 pt-md-1", style: "    margin-left: 5px;"}) | raw}}        </div>
    </header>
                       
                