{% set catalog_number2 = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}
{% set DLCatalogno = runSnippet('DocLister', {
id: 'catalog',
display: 6,
parents: catalog_number2,
depth: 5,
tvList:'car-price,credit_rate,old-car-price,run,engine_power,gear,year,image,car_photos,body_type,car_color,engine_volume,fuel,drive',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
})
%}
<div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-5 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
	<div class="row">
		{{DLCatalogno |raw}}
	</div>
</div>
