<form>
	<div class="credit-block px-4 py-5 mb-5 text-light" id="creditform">
		
		<div class="row">
			<div class="col-xl-3 col-md-6">
				<div class="field mb-4 pt-sm-0 pt-4">
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="field mb-4 pt-sm-0 pt-4">
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="field mb-4 pt-sm-0 pt-4">
				</div>
			</div>
		</div>
		<div class="name text-center mb-5">
		Спасибо за заявку! Наш оператор свяжется с Вами в ближайшее время
	</div>
	</div>
	
	<div class="row">
		<div class="col-xl-3 col-md-6">
			<div class="field mb-4 pt-sm-0 pt-4">
			</div>
		</div>
		<div class="col-xl-3 col-md-6">
			<div class="field mb-4 pt-sm-0 pt-4">
			</div>
		</div>
		<div class="col-xl-3 col-md-6">
			<div class="field mb-4 pt-sm-0 pt-4">
			</div>
		</div>
		<script type="text/javascript">
		dataLayer.push({ 'event': 'allformsend' })
		</script>
		<p class="p-5 text-white">Спасибо за обращение, {{ data['name'] }}<br />
		</p>
</form>