{% extends 'app.twig' %}
{% block MAIN %}
{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
display: 4,
parents: 27,
depth: 2,
tvList:'car-price,run,engine_power,gear,year,image,body_type,car_color,engine_volume,fuel,drive',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
})
%}
<div class="actions-page py-sm-5 py-3">
	<div class="image mb-5" style="background: url('/templates/fresh/img/actions.png') center/cover;"></div>
	<div class="container">
		<h1 class="h1 mb-4">Акции</h1>
		<div class="row">
			{% include 'partials/actions.twig' %}
		</div>
	</div>
</div>
{#<div class="catalog-page pb-1">
	<div class="container">
		<h2 class="h1 mb-sm-5 mb-4">Автомобили по акции</h2>
		<div class="row">
			{{DLCatalog |raw}}
		</div>
	</div>
</div>#}
<div class="container py-5 mb-5 d-none d-sm-block">
	{{resource.content |raw }}
</div>
{% endblock %}