

<div class="col-lg-3 col-md-4 col-6">
                    <div class="item text-center mb-sm-4 mb-3">
<div class="img" style="
    border-radius: 14px;
    background: url({{ runSnippet('phpthumb', {input: data['tv.image'], options:'h=255, w=255,zc=1 fltr[]=ric|15|15'}) }});
    background-size: cover;
    background-position: center center;
                        ">                     
                        </div>
                        <div class="text p-3">
                            <span class="d-block mb-2"> {{ data.title }}</span>
                            <div class="mb-4">
Узнайте подробности                            </div>
                            <button data-fancybox data-src="#popup" type="button">Подробнее <span></span></button>
                        </div>
                    </div>
                </div>

