<div class="advantages-block mb-5">
	<div class="container">
		<div class="block-name mb-4">
			Преимущества
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="item mb-4 text-center">
					<div class="check">
						<span></span>
					</div>
					<div class="py-3 px-5 text">
						<span class="d-block mb-2">
							Широкий выбор
						</span>
						Мы предлагаем большой выбор подержанных автомобилей различных марок и моделей.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="item mb-4 text-center">
					<div class="check">
						<span></span>
					</div>
					<div class="py-3 px-5 text">
						<span class="d-block mb-2">
							Низкие цены
						</span>
						Мы предлагаем низкие цены на подержанные автомобили, что позволяет нашим клиентам сэкономить деньги.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="item mb-4 text-center">
					<div class="check">
						<span></span>
					</div>
					<div class="py-3 px-5 text">
						<span class="d-block mb-2">
							Дополнительная диагностика
						</span>
						Перед продажей все наши автомобили проходят дополнительную диагностику и ремонт, что гарантирует их качество и безопасность на дороге.
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="item mb-4 text-center">
					<div class="check">
						<span></span>
					</div>
					<div class="py-3 px-5 text">
						<span class="d-block mb-2">
							Гарантийные обязательства
						</span>
						Мы предоставляем гарантийные обязательства на все наши подержанные автомобили, что дает нашим клиентам дополнительный уровень защиты.
					</div>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="item mb-4 text-center">
				<div class="check">
					<span></span>
				</div>
				<div class="py-3 text">
					<span class="d-block mb-2">
						Обмен старого автомобиля
</span>
					Мы предлагаем возможность обмена старого автомобиля на новый, что удобно и экономит время и деньги нашим клиентам.
				</div>
			</div>
			<div class="item mb-4 text-center">
				<div class="check">
					<span></span>
				</div>
				<div class="py-3 text">
					<span class="d-block mb-2">
						Финансовые услуги
					</span>
					Мы предоставляем широкий спектр финансовых услуг, в том числе кредитование и лизинг, чтобы наши клиенты могли приобрести подержанный автомобиль без дополнительных затрат.
				</div>
			</div>
			<div class="item mb-4 text-center">
				<div class="check">
					<span></span>
				</div>
				<div class="py-3 text">
					<span class="d-block mb-2">
						Сервис и техническое обслуживание
					</span>
					Мы предлагаем нашим клиентам дополнительные сервисные услуги, такие как техническое обслуживание, ремонт и замена запчастей, чтобы поддерживать их автомобили в хорошем состоянии.
				</div>
			</div>
			<div class="item mb-4 text-center">
				<div class="check">
					<span></span>
				</div>
				<div class="py-3 text">
					<span class="d-block mb-2">
						Квалифицированные специалисты
					</span>
					Наша команда состоит из опытных и квалифицированных специалистов, которые готовы помочь нашим клиентам выбрать и приобрести подержанный автомобиль, а также предоставить необходимую консультацию и поддержку.
				</div>
			</div>
		</div>
	</div>
</div>