{% set brands2 = runSnippet('DocLister', {
parents: 593,
depth: 0,
orderBy: 'menuindex',
order: 'ASC',
tvList:'',
ownerTPL: '@CODE:     [+dl.wrap+]',
tpl:'@CODE:<div class="item mb-3 col-3">
						<a href="[+url+]">[+pagetitle+]</a> 
					</div>		',
api: 0,
noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
})
%}
<div class="index-brands-block pb-5">
		<div class="container">
			<div class="block-name mb-4">
				Бренды
			</div>
			<div class="list flex">
				<div class="row">
						{{brands2 | raw}}
					<a class="bottom-link pr-4">Показать больше</a>

				</div>
			</div>
			</div>
			</div>