<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="color3.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>
<body>
	<div class="menubg"></div>
	<header class="header inner">
		<div class="container-fluid flex">
			<div class="logo">
				<a href="/"><img src="img/logo.svg"></a>
			</div>
			<ul>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="contacts">
				<a href="tel:+79998887766">+7 (999) 888-77-66</a>
				<button>Заказать звонок</button>
			</div>
			<a class="menu-button"></a>
		</div>
	</header>
	<div class="navi">
		<div class="container-fluid">
			<a href="#">Главная</a> <span></span> <a href="#">Каталог</a> <span></span> <a href="#">Mercedes</a> <span></span> Mercedes-Benz C-Класс 2019 180 1.5 AT (150 л.с.) Черный
		</div>
	</div>
	<main class="item-page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7">
					<h1>Mercedes-Benz C-Класс 2019 180 1.5 AT (150 л.с.) Черный</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="photos">
						<div class="slider-for">
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
						</div>
						<div class="slider-nav">
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
							<div class="item"><img src="img/item2.png"></div>
						</div>
					</div>
					<div class="data">
						<table>
							<tr>
								<td>Год выпуска</td>
								<td>2019</td>
							</tr>
							<tr>
								<td>Пробег</td>
								<td>55360 км</td>
							</tr>
							<tr>
								<td>ПТС</td>
								<td>Оригинал</td>
							</tr>
							<tr>
								<td>Кол-во владельцев по ПТС</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Поколение</td>
								<td>IV (W205/S205/C205) [рестайлинг]</td>
							</tr>
							<tr>
								<td>Тип кузова</td>
								<td>Седан</td>
							</tr>
							<tr>
								<td>Модификация</td>
								<td>180 1.5 AT (150 л.с.)</td>
							</tr>
							<tr>
								<td>Цвет</td>
								<td>Черный</td>
							</tr>
							<tr>
								<td>Цвет кузова</td>
								<td>black (code: black</td>
							</tr>
						</table>
						<h2>Характеристики</h2>
						<table>
							<tr>
								<td>Год выпуска</td>
								<td>2019</td>
							</tr>
							<tr>
								<td>Пробег</td>
								<td>55360 км</td>
							</tr>
							<tr>
								<td>ПТС</td>
								<td>Оригинал</td>
							</tr>
							<tr>
								<td>Кол-во владельцев по ПТС</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Поколение</td>
								<td>IV (W205/S205/C205) [рестайлинг]</td>
							</tr>
							<tr>
								<td>Тип кузова</td>
								<td>Седан</td>
							</tr>
							<tr>
								<td>Модификация</td>
								<td>180 1.5 AT (150 л.с.)</td>
							</tr>
							<tr>
								<td>Цвет</td>
								<td>Черный</td>
							</tr>
							<tr>
								<td>Цвет кузова</td>
								<td>black (code: black</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="flex">
						<div class="nal">
							<span></span> В наличии
						</div>
						<div class="special">
							Специальное предложение
						</div>
					</div>
					<div class="price">
						1 000 000 р
					</div>
					<div class="buttons">
						<button>Забронировать</button>
						<button>Получить предложение</button>
					</div>
					<div class="icons-block">
						<div class="row">
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon1.png">
									Бензин
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon2.png">
									Полный
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon3.png">
									Автоматическая
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon4.png">
									Бензин
								</div>
							</div>
						</div>
					</div>
					<div class="mob-data">
						<table>
							<tr>
								<td>Год выпуска</td>
								<td>2019</td>
							</tr>
							<tr>
								<td>Пробег</td>
								<td>55360 км</td>
							</tr>
							<tr>
								<td>ПТС</td>
								<td>Оригинал</td>
							</tr>
							<tr>
								<td>Кол-во владельцев по ПТС</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Поколение</td>
								<td>IV (W205/S205/C205) [рестайлинг]</td>
							</tr>
							<tr>
								<td>Тип кузова</td>
								<td>Седан</td>
							</tr>
							<tr>
								<td>Модификация</td>
								<td>180 1.5 AT (150 л.с.)</td>
							</tr>
							<tr>
								<td>Цвет</td>
								<td>Черный</td>
							</tr>
							<tr>
								<td>Цвет кузова</td>
								<td>black (code: black</td>
							</tr>
						</table>
						<h2>Характеристики</h2>
						<table>
							<tr>
								<td>Год выпуска</td>
								<td>2019</td>
							</tr>
							<tr>
								<td>Пробег</td>
								<td>55360 км</td>
							</tr>
							<tr>
								<td>ПТС</td>
								<td>Оригинал</td>
							</tr>
							<tr>
								<td>Кол-во владельцев по ПТС</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Поколение</td>
								<td>IV (W205/S205/C205) [рестайлинг]</td>
							</tr>
							<tr>
								<td>Тип кузова</td>
								<td>Седан</td>
							</tr>
							<tr>
								<td>Модификация</td>
								<td>180 1.5 AT (150 л.с.)</td>
							</tr>
							<tr>
								<td>Цвет</td>
								<td>Черный</td>
							</tr>
							<tr>
								<td>Цвет кузова</td>
								<td>black (code: black</td>
							</tr>
						</table>
					</div>
					<div class="counts">
						<h2>Состояние</h2>
						<div class="item">
							<div class="flex">
								<p>Двигатель</p>
								<p>5</p>
							</div>
							<div class="line">
								<span style="width: 100%"></span>
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<p>Двигатель</p>
								<p>5</p>
							</div>
							<div class="line">
								<span style="width: 100%"></span>
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<p>Двигатель</p>
								<p>5</p>
							</div>
							<div class="line">
								<span style="width: 100%"></span>
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<p>Двигатель</p>
								<p>4</p>
							</div>
							<div class="line">
								<span style="width: 80%"></span>
							</div>
						</div>
						<div class="item">
							<div class="flex">
								<p>Двигатель</p>
								<p>3</p>
							</div>
							<div class="line">
								<span style="width: 60%"></span>
							</div>
						</div>
					</div>
					<div class="calc">
						<h2>Выгода при покупке в кредит!</h2>
						<div class="item">
							Сумма кредита
							<input type="text" id="amount" readonly>
							<div id="slider-range-max"></div>
						</div>
						<div class="item">
							Срок кредита
							<input type="text" id="amount2" readonly>
							<div id="slider-range-max2"></div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="item">
									Срок кредита
									<span>0 р</span>
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									Платеж
									<span>30 050 р/мес.</span>
								</div>
							</div>
						</div>
						<button>Рассчитать кредит</button>
					</div>
					<div class="icons-block">
						<div class="row">
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon1.png">
									Приемущество 1
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon1.png">
									Приемущество 1
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon1.png">
									Приемущество 1
								</div>
							</div>
							<div class="col-6">
								<div class="item">
									<img src="img/item-icon1.png">
									Приемущество 1
								</div>
							</div>
						</div>
					</div>
					<div class="buttons">
						<button>Забронировать</button>
						<button>Получить предложение</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="catalog-block inner">
		<div class="container-fluid">
			<h2>Похожие автомобили</h2>
			<div class="row list">
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container-fluid flex">
			<div class="left-block">
				<div class="logo">
					<a href="/"><img src="img/logo.svg"></a>
				</div>
				<a href="tel:+78122501204" class="phone">+7 (812) 250-12-04</a>
				<a href="#" class="rules">Политика конфиденциальности</a>
				<button>Заказать звонок</button>
			</div>
			<nav>
				<p>Каталог</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Акции</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Услуги</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Контакты</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="copy-block">
		<div class="container-fluid">
			Информация о технических характеристиках, составе комплектаций, цветовой гамме и стоимости автомобилей, а также действующих акциях, сроках и условиях их проведения, указанных на сайте www.pragmaticar.ru, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями пунктом 2 статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к специалистам нашей компании.
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="js/common.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script>
	  $( function() {
	    $( "#slider-range-max" ).slider({
	      range: "max",
	      min: 1000,
	      max: 1000000,
	      value: 500000,
	      slide: function( event, ui ) {
	        $( "#amount" ).val( ui.value + " р.");
	      }
	    });
	    $( "#amount" ).val( $( "#slider-range-max" ).slider( "value") + " р." );
	  } );
	</script>
	<script>
	  $( function() {
	    $( "#slider-range-max2" ).slider({
	      range: "max",
	      min: 1,
	      max: 7,
	      value: 4,
	      slide: function( event, ui ) {
	        $( "#amount2" ).val( ui.value + " лет");
	      }
	    });
	    $( "#amount2" ).val( $( "#slider-range-max2" ).slider( "value" ) + " лет" );
	  } );
	</script>
	<script type="text/javascript">
	ymaps.ready(init);
	function init () {
	    var myMap = new ymaps.Map("map", {
	        center:[55.752161956105276,37.61949517968746],
	        zoom: 13,
	        controls: []
	    }); 	            
	    var myGeoObjects = [];	
	    // Метка 1
	    myGeoObjects[0] = new ymaps.Placemark([55.752161956105276,37.61949517968746],{
	                    balloonContentBody: 'Текст в балуне',
	                    },{
	                    iconLayout: 'default#image',
	                    iconImageHref: 'img/pointer.svg', 
	                    iconImageSize: [61, 75],
	                    iconImageOffset: [-30, -32]
	    });	                
	    var clusterer = new ymaps.Clusterer({
	        clusterDisableClickZoom: false,
	        clusterOpenBalloonOnClick: false,
	    });	    
	    clusterer.add(myGeoObjects);
	    myMap.geoObjects.add(clusterer);
	    myMap.behaviors.disable('scrollZoom');
	}
	</script>
</body>
</html>