{% set site_start = modx.config['site_start'] %}

{% set gifts = runSnippet('DocLister', {
    display: 3,
    parents: site_start,
    depth: 3,
    addWhereList: 'c.template = (13)',
    tvList:'image,color',
    tpl:'@T_FILE:partials/actions_actions'
})
%}

<div class="row">
    {% if gifts is empty %}

    {% else %}
        {{gifts | raw}}
    {% endif %}
</div>

{#% set gifts = runSnippet('DocLister', {
    display: 3,
    parents: 24,
    depth: 0,
    tvList:'image,color',
    tpl:'@T_CODE:
                <div class="col-xl-4 col-lg-6">
                    <div class="item" style="background: url('{{ runSnippet(\'phpthumb\', {input: data[\'tv.image\'], options:\'w=130,h=130,zc=1\'}) }}') center/cover;">
                        <p>{{ data.title }}</p>
                        <button>Подробнее</button>
                    </div>
                </div>'
    })
    %#}
