{{  runSnippet('DocLister', 
    {
        id: 'catalog',
        controller: 'catalog_filters',
        display: 20, 
        parents: 27, 
        depth: 0, 
        tvList:'car-price,old-car-price,credit_rate,car_photos,run,engine_power,gear', 
        tpl:'@T_FILE:partials/catalogcard',
        tplFirst:'@T_FILE:partials/catalogcard_first',
        paginate:'pages',
        TplNextP:'',
        TplPrevP:'',
        TplPage:'@CODE:<li class="page-item"><a class="page-link" href="[+link+]">[+num+]</a></li>',
        TplCurrentPage:'@CODE: <li class="page-item active" aria-current="page"><span class="page-link">[+num+]</span></li>',
        TplWrapPaginate:'@CODE:<ul class="pagination">[+wrap+]</ul>',
        filter: 'filters',
        filterRangeSeparator: ':',
        filterValuesSeparator: '|',
        filterDelimiter: '||',
        'filter_delimiter:containsAll': '~',
        filterPriceId: 19,
        filterList: 9,
        _filterList: '19:range;9:dropdown;134:range;135:range;136:range',
        filterCategory: 20,
        filterCounters: 1,
        filterUseParams: 1,
        filterTpl: '@T_FILE:partials/filters/tpl',
        filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
        filterTplRange: '@T_FILE:partials/filters/tplRange',
        filterOwnerCheckbox: '@T_FILE:cpartials/filters/ownerCheckbox',
        filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
        filterOwnerRadio: '@T_FILE:partials/filters/ownerRadio',
        filterTplRadio: '@T_FILE:partials/filters/tplRadio'
    }) | raw
}}