{% set headermenu = runSnippet('DLMenu', {
    parents: 26589,
    tvList: 'image',
    maxDepth: 1,
    rowTpl: '@CODE:<li><a href="[+url+]">[+pagetitle+]</a></li>',
    outerTpl: '@CODE:<ul>
        [+wrap+]</ul>'}) %}

    <div class="menubg"></div>
    <header class="header">
        <div class="container-fluid flex">
            <a href="/">
                {% if baseSettings["logo"] %}
                    <img src="{{ runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=120,h=50,far=C,f=png,q=1'}) }}">
                {% else %}
                    <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                    </div>
                {% endif %}
            </a>
                               {{ headermenu|raw}}

            <div class="contacts">
{{  runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1'}) | raw}}                <button type="button"data-toggle="modal" data-target="#oneclick">Заказать звонок</button>
            </div>
            <a class="menu-button"></a>
        </div>
    </header>


