.header .logo a {
  background: url('../img/logo1.svg') center / cover;
}
.index-page-slider .slick-dots li.slick-active button {
  border: 3px solid #667b88;
}
.index-top-counts {
  background: #667b88;
}
.index-top-counts .item:hover div:first-child {
  color: #667b88;
}
.index-top-form .buttons button:hover {
  background: #667b88;
  border: 1px solid #667b88;
}
.index-credit-block .item:before {
  background: #3B80CC;
}
.index-credit-block2 .card:before{
  background: #3B80CC;
}
.index-catalog-block .item .price .new {
  color: #667b88;
}
.index-catalog-block .item ul li:before {
  background: #667b88;
}
.btn.btn-danger {
  border: 1px solid #667b88;
  color: #667b88;
}
.btn.btn-danger:hover {
  background: #667b88;
}
.navi a {
  color: #667b88;
}
.page-form-block form button {
  background: #667b88;
}
.brands-block .bottom-link a {
  color: #667b88;
}
.item-page .top-info .text .price {
  color: #667b88;
}
.item-page .item .link {
  background: url('../img/plus1.svg');
}
.item-page .item .top-block .price {
  color: #667b88;
}
.item-page .item .hidden-block .info2 .price {
  color: #667b88;
}
.item-page2 .info .top-text span {
  background: #667b88;
}
.item-page2 .info .checkbox + label a {
  color: #667b88;
}
.item-page2 .info .checkbox + label .discount {
  background: url('../img/discount.svg');
}
.popup .price {
  background: #667b88;
}
.popup .bg button {
  background: #667b88;
}
.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid  solid dotted;
  border-color: #667b88 #667b88 transparent #667b88;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #667b88;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
