<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="color2.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>
<body>
	<div class="menubg"></div>
	<header class="header inner">
		<div class="container-fluid flex">
			<div class="logo">
				<a href="/"><img src="img/logo.svg"></a>
			</div>
			<ul>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="contacts">
				<a href="tel:+79998887766">+7 (999) 888-77-66</a>
				<button>Заказать звонок</button>
			</div>
			<a class="menu-button"></a>
		</div>
	</header>
	<div class="navi">
		<div class="container-fluid">
			<a href="#">Главная</a> <span></span> <a href="#">Каталог</a> <span></span> <a href="#">Mercedes</a> <span></span> Mercedes-Benz C-Класс 2019 180 1.5 AT (150 л.с.) Черный
		</div>
	</div>
	<main class="calc-page">
		<div class="container-fluid">
			<h1>Кредитный калькулятор</h1>
			<div class="row">
				<div class="col-lg-5">
					<div class="block1">
						<h2>Выберите автомобиль</h2>
						<div class="item">
							<p>Выберите марку авто</p>
							<select>
								<option>Skoda</option>
								<option>Skoda</option>
								<option>Skoda</option>
							</select>
						</div>
						<div class="item">
							<p>Выберите модель авто</p>
							<select>
								<option>Skoda Kodiac</option>
								<option>Skoda Kodiac</option>
								<option>Skoda Kodiac</option>
							</select>
						</div>
						<div class="item">
							<p>Выберите поколение авто</p>
							<select>
								<option>Active 1.4 MT</option>
								<option>Active 1.4 MT</option>
								<option>Active 1.4 MT</option>
							</select>
						</div>
						<div class="price">
							<span class="new">
								1 000 000 p
							</span>
							<span class="old">
								2 000 000 p
							</span>
						</div>
						<div class="bottom-text">
							Цена на автомобиль указана с учетом действующих акций и возможной выгоды
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="image">
						<img src="img/calc.png">
					</div>
				</div>
				<div class="col-lg-5">
					<div class="block2">
						<h2>Расчет кредита</h2>
						<p>Выберите кредитную программу</p>
						<select>
							<option>Skoda</option>
							<option>Skoda</option>
							<option>Skoda</option>
						</select>
						<p>Первоначальный взнос</p>
						<div class="row">
							<div class="col-6">
								<div class="field">
									<input type="text" value="25">
									<span>%</span>
								</div>
							</div>
							<div class="col-6">
								<div class="field">
									<input type="text" value="2 000 000">
									<span>руб</span>
								</div>
							</div>
						</div>
						<div id="slider-range"></div>
						<div class="values flex">
							<div>0</div>
							<div>10</div>
							<div>20</div>
							<div>30</div>
							<div>40</div>
							<div>50</div>
							<div>60</div>
							<div>70</div>
							<div>80</div>
						</div>
						<p class="other">Выберите модель авто</p>
						<div id="slider-range2"></div>
						<div class="values flex">
							<div>0</div>
							<div>18</div>
							<div>36</div>
							<div>54</div>
							<div>72</div>
							<div>90</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="block3">
						<h2>Результаты расчета</h2>
						<table>
							<tr>
								<td>Кредитная программа</td>
								<td>Skoda Finance</td>
							</tr>
							<tr>
								<td>Ежемесячный платеж</td>
								<td>15 049 ₽</td>
							</tr>
							<tr>
								<td>Первоначальный взнос</td>
								<td>340 500 ₽</td>
							</tr>
							<tr>
								<td>Срок кредитования</td>
								<td>30 мес</td>
							</tr>
							<tr>
								<td>Процентная ставка</td>
								<td>13%</td>
							</tr>
						</table>
					</div>
					<div class="bottom-button">
						<button>Оставить заявку на кредит</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="articles-block">
		<div class="container-fluid">
			<div class="list">
				<div class="item" style="background: url('img/article.png') center/cover;">
					<p>Условия</p>
					<button>Подробнее</button>
				</div>
				<div class="item" style="background: url('img/article.png') center/cover;">
					<p>Требования</p>
					<button>Подробнее</button>
				</div>
				<div class="item" style="background: url('img/article.png') center/cover;">
					<p>Приемущества</p>
					<button>Подробнее</button>
				</div>
			</div>
		</div>
	</div>
	<div class="text-block">
		<div class="container-fluid">
			<h2>Рассчитать кредит на покупку автомобиля Skoda Kodiaq</h2>
			<h3>Рассчитать кредит на покупку автомобиля Skoda Kodiaq</h3>
			<h4>Рассчитать кредит на покупку автомобиля Skoda Kodiaq</h4>
			<h5>Рассчитать кредит на покупку автомобиля Skoda Kodiaq</h5>
			<h6>Рассчитать кредит на покупку автомобиля Skoda Kodiaq</h6>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
			<ul>
				<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
				<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
				<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
			</ul>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
			<ol>
				<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
				<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
				<li>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</li>
			</ol>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
			<blockquote>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</blockquote>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
		</div>
	</div>
	<footer class="footer">
		<div class="container-fluid flex">
			<div class="left-block">
				<div class="logo">
					<a href="/"><img src="img/logo.svg"></a>
				</div>
				<a href="tel:+78122501204" class="phone">+7 (812) 250-12-04</a>
				<a href="#" class="rules">Политика конфиденциальности</a>
				<button>Заказать звонок</button>
			</div>
			<nav>
				<p>Каталог</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Акции</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Услуги</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Контакты</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="copy-block">
		<div class="container-fluid">
			Информация о технических характеристиках, составе комплектаций, цветовой гамме и стоимости автомобилей, а также действующих акциях, сроках и условиях их проведения, указанных на сайте www.pragmaticar.ru, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями пунктом 2 статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к специалистам нашей компании.
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="js/common.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script>
	  $( function() {
	    $( "#slider-range" ).slider({
	      range: true,
	      min: 0,
	      max: 80,
	      values: [ 0, 64 ]
	    });
	  } );
	</script>
	<script>
	  $( function() {
	    $( "#slider-range2" ).slider({
	      range: true,
	      min: 0,
	      max: 90,
	      step: 18,
	      values: [ 0, 18 ]
	    });
	  } );
	</script>
	<script type="text/javascript">
	ymaps.ready(init);
	function init () {
	    var myMap = new ymaps.Map("map", {
	        center:[55.752161956105276,37.61949517968746],
	        zoom: 13,
	        controls: []
	    }); 	            
	    var myGeoObjects = [];	
	    // Метка 1
	    myGeoObjects[0] = new ymaps.Placemark([55.752161956105276,37.61949517968746],{
	                    balloonContentBody: 'Текст в балуне',
	                    },{
	                    iconLayout: 'default#image',
	                    iconImageHref: 'img/pointer.svg', 
	                    iconImageSize: [61, 75],
	                    iconImageOffset: [-30, -32]
	    });	                
	    var clusterer = new ymaps.Clusterer({
	        clusterDisableClickZoom: false,
	        clusterOpenBalloonOnClick: false,
	    });	    
	    clusterer.add(myGeoObjects);
	    myMap.geoObjects.add(clusterer);
	    myMap.behaviors.disable('scrollZoom');
	}
	</script>
</body>
</html>