<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="color1.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</head>
<body>
	<div class="menubg"></div>
	<header class="header">
		<div class="container-fluid flex">
			<div class="logo">
				<a href="/"><img src="img/logo.svg"></a>
			</div>
			<ul>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="contacts">
				<a href="tel:+79998887766">+7 (999) 888-77-66</a>
				<button>Заказать звонок</button>
			</div>
			<a class="menu-button"></a>
		</div>
	</header>
	<div class="index-first-block" style="background: url('img/index-first-block.png') center/cover;">
		<div class="container-fluid">
			<h1>Автомобили  с пробегом  по низким ценам</h1>
			<form>
				<div class="flex">
					<select>
						<option>Выберите марку авто</option>
						<option>Выберите марку авто</option>
						<option>Выберите марку авто</option>
					</select>
					<select>
						<option>Выберите модель авто</option>
						<option>Выберите модель авто</option>
						<option>Выберите модель авто</option>
					</select>
					<div class="prices">
						<div class="flex">
							<input type="text" id="amount" readonly>
							<span class="line"></span>
							<input type="text" id="amount2" readonly>
						</div>
						<div id="slider-range"></div>
					</div>
					<button>Выберите марку авто</button>
				</div>
				<div class="links">
					<a href="#">До 800 000 ₽</a>
					<a href="#">До 850 000 ₽</a>
					<a href="#">До 950 000 ₽</a>
					<a href="#">До 1 500 000 ₽</a>
					<a href="#">До 2 500 000 ₽</a>
				</div>
			</form>
		</div>
	</div>
	<div class="brands-block">
		<div class="container-fluid">
			<h2>Бренды</h2>
			<div class="flex2">
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
				<div class="item">
					<img src="img/brand.png">
					<p>925 авто</p>
					Lada
					<a href="#"></a>
				</div>
			</div>
			<div class="bottom-button">
				<button>Смотреть все <span></span></button>
			</div>
		</div>
	</div>
	<div class="catalog-block">
		<div class="container-fluid">
			<h2>Специальные предложения</h2>
			<div class="row list">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="item">
						<a href="#"><img src="img/item.png" class="image"></a>
						<div class="flex">
							<a href="#" class="name">Kia Sorento Luxe</a>
							<div class="nal"><span></span> В наличии</div>
						</div>
						<p>
							С пробегом / 2022 / 83000км / черный  <br/>
							2.0 АТ 2WD (150 л.с.)  <br/>
							Elegance
						</p>
						<div class="flex">
							<div class="price">
								<span>4 084 900</span> р
							</div>
							<div class="special">
								Специальное предложение
							</div>
						</div>
						<div class="buttons">
							<button>Подробнее</button>
							<button>Купить в 1 клик</button>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-button">
				<button>Смотреть все <span></span></button>
			</div>
		</div>
	</div>
	<div class="compilations-block">
		<div class="container-fluid">
			<h2>Подборки</h2>
			<div class="row">
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Седан
						</div>
						<button>Подробнее</button>
						<img src="img/compilation1.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Хетчбек
						</div>
						<button>Подробнее</button>
						<img src="img/compilation2.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Универсал
						</div>
						<button>Подробнее</button>
						<img src="img/compilation3.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Внедорожник
						</div>
						<button>Подробнее</button>
						<img src="img/compilation4.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Минивен
						</div>
						<button>Подробнее</button>
						<img src="img/compilation5.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Фургон
						</div>
						<button>Подробнее</button>
						<img src="img/compilation6.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="services-block">
		<div class="container-fluid">
			<h2>Услуги</h2>
			<div class="row">
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							Trade - in
						</div>
						<p>Доступна услуга обмена старого автомобиля на новый автомобиль с пробегом с доплатой или на аналогичную сумму.</p>
						<button>Подать заявку</button>
						<img src="img/service1.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							ОСАГО
						</div>
						<p>Доступна услуга обмена старого автомобиля на новый автомобиль с пробегом с доплатой или на аналогичную сумму.</p>
						<button>Подать заявку</button>
						<img src="img/service2.png">
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="item">
						<div class="name">
							КАСКО
						</div>
						<p>Доступна услуга обмена старого автомобиля на новый автомобиль с пробегом с доплатой или на аналогичную сумму.</p>
						<button>Подать заявку</button>
						<img src="img/service3.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feedback-block">
		<div class="container-fluid">
			<form>
				<div class="flex">
					<h2>Заявка на обратный звонок</h2>
					<div class="top-text">
						Остались вопросы? <br/>
						Мы с радостью ответим Вам
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<input type="text" placeholder="Введите ваше имя*">
					</div>
					<div class="col-md-3 col-sm-6">
						<input type="text" placeholder="Введите ваш телефон*">
					</div>
					<div class="col-md-3 col-sm-6">
						<input type="text" placeholder="Введите ваш e-mail">
					</div>
					<div class="col-md-3 col-sm-6">
						<button>Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="advantages-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="item">
						<div class="icon">
							<img src="img/advantages1.svg">
						</div>
						<p>Преимущество</p>
						Классное преимущество
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item">
						<div class="icon">
							<img src="img/advantages2.svg">
						</div>
						<p>Преимущество</p>
						Классное преимущество
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item">
						<div class="icon">
							<img src="img/advantages3.svg">
						</div>
						<p>Преимущество</p>
						Классное преимущество
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item">
						<div class="icon">
							<img src="img/advantages4.svg">
						</div>
						<p>Преимущество</p>
						Классное преимущество
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="map-block">
		<div class="map">
			<div id="map" style="width: 100%; height: 100%"></div>
		</div>
		<div class="content">
			<div class="container-fluid">
				<div class="contacts">
					<ul>
						<li>
							<span><img src="img/contacts1.svg"></span>
							Москва, 85-й км МКАД, вл. 5, с. 2
						</li>
						<li>
							<span><img src="img/contacts2.svg"></span>
							+7(800)888-88-88
						</li>
						<li>
							<span><img src="img/contacts3.svg"></span>
							Ежедневно с 8:00 до 21:00
						</li>
					</ul>
					<a href="#">Проложить маршрут</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container-fluid flex">
			<div class="left-block">
				<div class="logo">
					<a href="/"><img src="img/logo.svg"></a>
				</div>
				<a href="tel:+78122501204" class="phone">+7 (812) 250-12-04</a>
				<a href="#" class="rules">Политика конфиденциальности</a>
				<button>Заказать звонок</button>
			</div>
			<nav>
				<p>Каталог</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Акции</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Услуги</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
			<nav>
				<p>Контакты</p>
				<ul>
					<li><a href="#">Автомобили</a></li>
					<li><a href="#">Мотоциклы</a></li>
					<li><a href="#">Коммерческий транспорт</a></li>
					<li><a href="#">Запчасти</a></li>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="copy-block">
		<div class="container-fluid">
			Информация о технических характеристиках, составе комплектаций, цветовой гамме и стоимости автомобилей, а также действующих акциях, сроках и условиях их проведения, указанных на сайте www.pragmaticar.ru, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями пунктом 2 статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к специалистам нашей компании.
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="js/common.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script>
	  $( function() {
	    $( "#slider-range" ).slider({
	      range: true,
	      min: 0,
	      max: 50000,
	      values: [ 10000, 30000 ],
	      slide: function( event, ui ) {
	        $( "#amount" ).val( "Цена от " + ui.values[ 0 ] + " р.");
	        $( "#amount2" ).val( "Цена до " + ui.values[ 1 ] + " р.");
	      }
	    });
	    $( "#amount" ).val( "Цена от " + $( "#slider-range" ).slider( "values", 0 ) + " р.");
	    $( "#amount2" ).val( "Цена до " + $( "#slider-range" ).slider( "values", 1 ) + " р.");
	  } );
	</script>
	<script type="text/javascript">
	ymaps.ready(init);
	function init () {
	    var myMap = new ymaps.Map("map", {
	        center:[55.752161956105276,37.61949517968746],
	        zoom: 13,
	        controls: []
	    }); 	            
	    var myGeoObjects = [];	
	    // Метка 1
	    myGeoObjects[0] = new ymaps.Placemark([55.752161956105276,37.61949517968746],{
	                    balloonContentBody: 'Текст в балуне',
	                    },{
	                    iconLayout: 'default#image',
	                    iconImageHref: 'img/pointer.svg', 
	                    iconImageSize: [61, 75],
	                    iconImageOffset: [-30, -32]
	    });	                
	    var clusterer = new ymaps.Clusterer({
	        clusterDisableClickZoom: false,
	        clusterOpenBalloonOnClick: false,
	    });	    
	    clusterer.add(myGeoObjects);
	    myMap.geoObjects.add(clusterer);
	    myMap.behaviors.disable('scrollZoom');
	}
	</script>
</body>
</html>