<div class="index-filter-block col-12">
    <div class="container">
        <div class="filter bg-light py-4 px-sm-5 px-4 position-relative">
            <div class="flex">
                <div class="name mb-4">
                    <span>Выбрать</span> автомобиль
                </div>
                <a href="/katalog-avtomobilej/" class="top-link mb-4 mt-2">Перейти в каталог →</a>
            </div>
            <form class="extrafilter col-12" method="POST">
                <div class="row">
                    {{ data['wrap'] | raw }}
                </div>
                <div class="button pt-2">
                    <button type="button" class="btn btn-outline-danger middle mr-md-4" data-filters-button>Показать все автомобили</button>
                    <button  class="Button--reset clear-link">Сбросить фильтр</button>
                </div>
            </form>
        </div>
    </div>
</div>
