<div>комментарий::Купить автомобиль: Наличные</div>
<div>телефон::{{ data['phone'] }}</div>
<div>имя::{{ data['name'] }}</div>
<div>сайт::carmarket-spb.ru</div>
<div>реферер::carmarket-spb.ru</div>
<div>способ оплаты::наличные</div>
<div>трейд-ин::да</div>