{% extends 'app.twig' %}
{% block MAIN %}
{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
display: 4,
parents: 27,
depth: 2,
tvList:'car-price,run,engine_power,gear,year,image,body_type,car_color,engine_volume,fuel,drive',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
})
%}

		{% include 'partials/actions.twig' %}
	

<div class="index-catalog-block2 pb-5">
    <div class="container">
        <h2 class="h2 m-5 ">Предложение дня</h2>
        <div class="list row d-flex justify-content-center" id="catalog">
			{{DLCatalog |raw}}
        </div>
    </div>
</div>
<div class="container py-5 mb-5 d-none d-sm-block">
	{{resource.content |raw }}
</div>
{% endblock %}
