{% extends 'app.twig' %}
{% block MAIN %}
{#% cache 'main' ~ resource.id %#}
{% set brand = _GET.brand %}
{% if not brand %}
{% set brand = 'hyundai' %}
{% endif %} 
{% set model = _GET.model %}
{% if not model %}
{% set model = '' %}
{% endif %}
{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
controller: 'catalog_filters',
filters: 'AND(tv:mark_id:=:' ~ brand ~ ';tv:model_id:like:'~ model ~')' ,
_filters: 'AND(tv:price:>:0;tv:region:=:' ~ plh.activeLangAlias ~ ')',
display: 4,
parents: 593,
depth: 2,
addWhereList: 'c.template=28',
orderBy: 'car-price',
order: 'RAND()',
tvSortType: 'SIGNED',
tvList:'car-price,old-car-price,car_photos,run,configuration_id,engine_power,gear,year, image,mark_id,model_id',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
paginate:'pages',
TplNextP:'',
TplPrevP:'',
TplPage:'@CODE:<li class="page-item"><a class="page-link" href="[+link+]">[+num+]</a></li>',
TplCurrentPage:'@CODE: <li class="page-item active" aria-current="page"><span class="page-link">[+num+]</span></li>',
TplWrapPaginate:'@CODE:<ul class="pagination">[+wrap+]</ul>',
filter: 'filters',
filterRangeSeparator: ':',
filterValuesSeparator: '|',
filterDelimiter: '||',
__filterPriceId: 14,
filterList: '42,43,19',
_filterList: '19:checkbox,20:checkbox,42:checkbox,43:checkbox',
filterTpl: '@T_FILE:partials/filters/tpl',
filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
filterTplRange: '@T_FILE:partials/filters/tplRange',
filterOwnerCheckbox: '@T_FILE:partials/filters/ownerCheckbox',
filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
tvSortType: 'UNSIGNED',
api: 0,
debug:0,
noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
})
%}
{% set models = runSnippet('DocLister', {
id: 'catalog',
filters: 'AND(tv:mark_id:=:' ~ brand ~ ')' ,
_filters: 'AND(tv:price:>:0;tv:region:=:' ~ plh.activeLangAlias ~ ')',
parents: 593,
depth: 1,
addWhereList: 'isfolder=1 AND c.template=20',
orderBy: 'car-price',
order: 'RAND()',
tvSortType: 'SIGNED',
tvList:'car-price,old-car-price,car_photos,run,engine_power,gear,year, image,mark_id,model_id',
api: 1,
debug:0,
noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
})
| json %}
{% set banner = runSnippet('multiTV', {tvName: 's-vigoda-pulkovo1', docid: 'id', display:'all',
rowTpl:'@CODE:
<div class="item" style="background: url([+image+]) center/cover;">
	<div class="container">
		<div class="text">
			<div class="top-text mb-3">
			</div>
			<div class="text">
				[+title+]
			</div>
			<button>Оставить заявку</button>
		</div>
	</div>
</div>'}) %}
{#% include '/partials/brands.twig' %#}
{#{ runSnippet('Form', {
formid: 'FormCredit',
path: '/templates/rofl/partials/forms/credit_home/',
extension: 'twig'
}) | raw }#}
<main>
	<div class="index-page-slider text-light">
		{{banner |raw}}
	</div>
	<div class="index-top-counts pt-3 text-light mb-5">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-6">
					<div class="item mb-3 py-1 px-2">
						<div class="pr-3">3678</div>
						<div>Новых автомобилей</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-6">
					<div class="item mb-3 py-1 px-2">
						<div class="pr-3">4678</div>
						<div>Автомобилей по акции</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-6">
					<div class="item mb-3 py-1 px-2">
						<div class="pr-3">435</div>
						<div>Автомобилей со скидкой в кредит</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-6">
					<div class="item mb-3 py-1 px-2">
						<div class="pr-3">2456</div>
						<div>Предложений на атомобили</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="index-top-form pb-4">
		<div class="container flex">
			<div class="fields mb-3">
				<div class="row">
					<div class="col-6 col-md-3">
						<p class="mb-2">Марка</p>
						<select class="w-100 px-3 select-box" id="marks">
							<option>Выбрать...</option>
							{% for item in marks %}
							<option>{{ item.pagetitle }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-6 col-md-3">
						<p class="mb-2">Модель</p>
						<select class="w-100 px-3 select-box" id="models">
							<option>Выбрать...</option>
							{% for item in models %}
							<option>{{ item.pagetitle }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-6 col-md-3">
						<p class="mb-2">Фильтровать </p>
						<button id="filterbutton" class="w-100 px-3 select-box btn btn-danger">Показать</button>
					</div>
					<div class="col-6 col-md-3">
						<p class="mb-2">Уточните выбор: </p>
						<button class="w-100 px-3 select-box btn btn-danger" onclick="location.href='/katalog-novyh-avtomobilej/podborka-po-parametram'">Больше фильтров</button>
					</div>
					{#<div class="col-3">
						<p class="mb-2">Цена от, руб</p>
						<input id="min-price" type="text" placeholder="Не выбрана..." class="w-100 px-3">
					</div>
					<div class="col-3">
						<p class="mb-2">Цена до, руб</p>
						<input id="max-price" type="text" placeholder="Не выбрана..." class="w-100 px-3">
					</div>#}
				</div>
			</div>
			{#<div class="buttons mb-3">
				<p class="mb-2">КПП</p>
				<div class="row">
					<div class="col-4">
						<button class="w-100">Любая</button>
					</div>
					<div class="col-4">
						<button class="w-100">АКПП</button>
					</div>
					<div class="col-4">
						<button class="w-100">МКПП</button>
					</div>
				</div>
			</div>#}
		</div>
	</div>
	<div class="dealers-block pb-5">
		<div class="container">
			<div class="block-name mb-4 pb-2">
				Официальный дилер 54 автомобильных марок
			</div>
			<div class="row">
				{% include('partials/brands.twig') %}
			</div>
		</div>
		{#<div class="button text-center pt-3">
			<button class="btn btn-danger">Смотреть все модели</button>
		</div>#}
	</div>
	</div>
	<div class="index-credit-block mb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<a href="#" data-src="#popupcred" data-fancybox>
						<div class="item mb-3 position-relative">
							<span class="d-block mb-2">Купить в кредит</span>
							Оставьте заявку и мы свяжемся с Вами
						</div>
					</a>
				</div>
				{#<div class="col-lg-4 col-sm-6">
					<a href="#" data-src="#popup" data-fancybox>
						<div class="item mb-3 position-relative">
							<span class="d-block mb-2">Купить в лизинг</span>
							Оставьте заявку и мы свяжемся с Вами
						</div>
					</a>
				</div>#}
				<div class="col-lg-4 col-sm-6">
					<a href="#" data-src="#popup" data-fancybox>
						<div class="item mb-3 position-relative">
							<span class="d-block mb-2">Оценить автомобиль</span>
							Оставьте заявку и мы свяжемся с Вами
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="index-catalog-block2 pb-5">
		<div class="container">
			<h2 class="h2 mb-5">Предложение дня</h2>
			<div class="list" id="catalog">
				{{DLCatalog |raw}}
			</div>
		</div>
	</div>
 {% include '/partials/credit.twig' %}
	{% include '/partials/banks.twig' %}
		{% include '/partials/actions.twig' %}
				{% include '/partials/advantages.twig' %}

	<div class="index-catalog-block2 pb-4">
		<div class="container">
			<div class="block-name mb-5">
				Рекомендованные подборки
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<a href="/katalog-novyh-avtomobilej/podborka-po-parametram?body=Седан">
						<div class="item mb-4 position-relative">
							<img src="../templates/major/images/item2 5.jpg" class="w-100">
							<div class="number position-absolute bg-light p-2">
								647
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Седаны
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="/katalog-novyh-avtomobilej/podborka-po-parametram?body=универсал">
						<div class="item mb-4 position-relative">
							<img src="../templates/major/images/item2 6.jpg" class="w-100">
							<div class="number position-absolute bg-light p-2">
								142
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Универсалы
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="/katalog-novyh-avtomobilej/podborka-po-parametram?body=хэтчбек">
						<div class="item mb-4 position-relative">
							<img src="../templates/major/images/item2 3.jpg" class="w-100">
							<div class="number position-absolute bg-light p-2">
								764
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Хэтчбэк
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="/katalog-novyh-avtomobilej/podborka-po-parametram?body=внедорожник">
						<div class="item mb-4 position-relative">
							<img src="../templates/major/images/item2 1.jpg" class="w-100">
							<div class="number position-absolute bg-light p-2">
								892
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="/katalog-novyh-avtomobilej/podborka-po-parametram?body=лифтбек">
						<div class="item mb-4 position-relative">
							<img src="../templates/major/images/item2 4.jpg" class="w-100">
							<div class="number position-absolute bg-light p-2">
								182
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Лифтбек
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="/katalog-novyh-avtomobilej/podborka-po-parametram?body=купе">
						<div class="item mb-4 position-relative">
							<img src="../templates/major/images/item2 2.jpg" class="w-100">
							<div class="number position-absolute bg-light p-2">
								68
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Купе
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
					{% include '/partials/contacts.twig' %}
	
</main>
{#<script type="text/javascript">
const marksSelect = document.querySelector('#marks');
const modelsSelect = document.querySelector('#models');

marksSelect.addEventListener('change', function() {
	const selectedOption = marksSelect.options[marksSelect.selectedIndex].value;
	const url = new URL(window.location.href);
	url.searchParams.set('brand', selectedOption);

	if (modelsSelect.value !== '') {
		url.searchParams.set('models', modelsSelect.value);
	}

	$.ajax({
			url: url.toString(),
			method: 'GET',
			dataType: 'html'
		})
		.done(function(data) {
			const catalogHtml = $('<div>').html(data).find('#catalog').html();
			const modelsHtml = $('<div>').html(data).find('#models').html();
			$('#catalog').html(catalogHtml);
			$('#models').html(modelsHtml);
		})
		.fail(function(jqXHR, textStatus, errorThrown) {
			console.error(errorThrown);
		});
});

modelsSelect.addEventListener('change', function() {
	const selectedOption = marksSelect.options[marksSelect.selectedIndex].value;
	const url = new URL(window.location.href);

	if (selectedOption !== '') {
		url.searchParams.set('brand', selectedOption);
	}

	if (modelsSelect.value !== '') {
		url.searchParams.set('model', modelsSelect.value);
	} else {
		url.searchParams.delete('model');
	}

	$.ajax({
			url: url.toString(),
			method: 'GET',
			dataType: 'html'
		})
		.done(function(data) {
			const catalogHtml = $('<div>').html(data).find('#catalog').html();
			const modelsHtml = $('<div>').html(data).find('#models').html();
			$('#catalog').html(catalogHtml);
			$('#models').html(modelsHtml);
		})
		.fail(function(jqXHR, textStatus, errorThrown) {
			console.error(errorThrown);
		});
});

</script>#}
<script>
document.addEventListener('DOMContentLoaded', function() {
	const marksSelect = document.querySelector('#marks');
	const modelsSelect = document.querySelector('#models');
	const filterButton = document.querySelector('#filterbutton');

	const updateFilterUrl = () => {
		const brand = marksSelect.value;
		const model = modelsSelect.value;

		let url = '/katalog-novyh-avtomobilej/?';
		if (brand && brand !== 'Выбрать...') {
			url += `brand=${brand}&`;
		}

		if (model && model !== 'Выбрать...') {
			url += `model=${model}&`;
		}

		filterButton.disabled = false;
		filterButton.onclick = function() {
			window.location.href = url.slice(0, -1);
		};
	};

	const updateModels = () => {
		const brand = marksSelect.value;

		if (brand && brand !== 'Выбрать...') {
			const url = `/katalog-novyh-avtomobilej/?brand=${brand}`;
			$.ajax({
					url: url,
					method: 'GET',
					dataType: 'html'
				})
				.done(function(data) {
					const modelsHtml = $(data).find('#models').html();
					$('#models').html(modelsHtml);
				})
				.fail(function(jqXHR, textStatus, errorThrown) {
					console.error(errorThrown);
				});
		}
	};

	marksSelect.addEventListener('change', function() {
		updateModels();
		updateFilterUrl();
	});
	modelsSelect.addEventListener('change', updateFilterUrl);

	filterButton.disabled = true;

	$('.index-catalog-block2 .list').slick({
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 1,
	  responsive: [
	    {
	      breakpoint: 992,
	      settings: {
	        slidesToShow: 3
	      }
	    },
	    {
	      breakpoint: 768,
	      settings: {
	        slidesToShow: 2
	      }
	    },
	    {
	      breakpoint: 576,
	      settings: {
	        slidesToShow: 1,
	        autoplay: true
	      }
	    }
	  ]
	});
});

</script>
{% endblock %}
