{# <div class="prices" data-name="{{ data['name'] }}"> #}
	<input type="text" placeholder="Цена от" class="price-range-input range-min" value="{{ data['min'] }}" />
	<input type="text" placeholder="Цена до" class="price-range-input range-max" value="{{ data['max'] }}" />
{# </div> #}
