<form class="extrafilter col-12">
    <div class="row">
        {{ data['wrap'] | raw }}
    </div>
    <div class="row d-flex justify-content-center"><button class="btn btn-danger mt-2 filterbutton">Показать результаты</button></div>
</form>