{% extends 'app.twig' %}
{% block MAIN %}
	{% set catalog_number = runSnippet('DocInfo', {docid: site_start , field: 'catalog_number' }) %}

<main class="actions-page">
	<div class="container-fluid">
		<h1>Акции</h1>
		{% include 'partials/actions.twig' %}
	</div>
</main>
<div class="container px-4">
	<h4 class="fw-bold mb-5">Выгодные предложения:</h4>
</div>
<main class="catalog-block pt-0 mt-0">
	<div class="container-fluid">
				{{ runSnippet('DocLister',
				{display: 20,
				parents: catalog_number ,
				depth: 0,
				orderBy: 'car-price',
				order:  'ASC',
				tvSortType: 'SIGNED',
				filters: 'AND(tv:car-price:>:170000)',
				tvList:'car-price,old-car-price,image,run,engine_power,gear,year,engine_volume,car-photos,car_photos',
				ownerTPL: '@T_FILE:partials/wrap',
				tpl:'@T_FILE:partials/catalogcard',
				paginate:'pages',
				TplNextP:'',
				TplPrevP:'',
				TplPage:'@CODE: <li class="page-item"><a class="page-link" href="[+link+]">[+num+]</a></li>' ,
				TplCurrentPage:'@CODE: <li class="page-item active" aria-current="page">
					<span class="page-link">[+num+]</span>
				</li>',
				TplWrapPaginate:'@CODE: <ul class="pagination">
					[+wrap+]</ul>',
				filter: 'filters',
				filters: 'AND(tv:actions:!=:0)',
				filterRangeSeparator: ':',
				filterValuesSeparator: '|',
				filterDelimiter: '||',
				'filter_delimiter:containsAll': '~',
				filterPriceId: 19,
				filterList: 9,
				_filterList: '19:range;9:dropdown;134:range;135:range;136:range',
				filterCategory: 20,
				filterCounters: 1,
				filterUseParams: 1,
				filterTpl: '@T_FILE:partials/filters/tpl',
				filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
				filterTplRange: '@T_FILE:partials/filters/tplRange',
				filterOwnerCheckbox: '@T_FILE:cpartials/filters/ownerCheckbox',
				filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
				filterOwnerRadio: '@T_FILE:partials/filters/ownerRadio',
				filterTplRadio: '@T_FILE:partials/filters/tplRadio'
				}) |raw}}
			</div></main>
<div class="container py-5 mb-5 d-none d-sm-block">
	{{resource.content |raw }}
</div>
{% endblock %}