{% extends 'app.twig' %}
{% set catalog_number = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}

{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
controller: 'catalog_filters',
display: 20,
parents: catalog_number,
depth: 5,
tvList:'car-price,old-car-price,credit_rate,car_photos,run,engine_power,gear,year,image',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
paginate:'pages',
TplNextP:'@CODE:<li><a href="[+link+]"><span class="next"></span></a></li>',
TplPrevP:'@CODE:<li><a href="[+link+]"><span class="prev"></span></a></li>',
TplPage:'@CODE:<li><a href="[+link+]">[+num+]</a></li>',
TplCurrentPage:'@CODE:<li><a class="active-link-paginate" href="[+link+]">[+num+]</a></li>',
TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
noneTPL:'@T_FILE:partials/noitems',
filter: 'filters',
filterRangeSeparator: ':',
filterValuesSeparator: '|',
filterDelimiter: '||',
__filterPriceId: 14,
filterList: '42:dropdown;43:dropdown;19:range;16:range',
_filterList: '42,43,14',
filterList: '42,43,19,16',
filterPriceId: 19,
filterCurrencyId: 'RUB',
filterTpl: '@T_FILE:partials/filters/tpl',
filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
filterTplRange: '@T_FILE:partials/filters/tplRange',
filterOwnerCheckbox: '@T_FILE:partials/filters/ownerCheckbox',
filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
tvSortType: 'UNSIGNED'
})
%}
{% block MAIN %}
{% include('partials/crumbs.twig') %}

<div class="index-first-block inner">
	<div class="container-fluid ">
		<h1>Каталог автомобилей с пробегом</h1>
				{#[+catalog.filters+]#}
				{{ plh['catalog.filters'] | raw }}
				<!--select>
					<option>Выберите марку авто</option>
					<option>Выберите марку авто</option>
					<option>Выберите марку авто</option>
				</select>
				<select>
					<option>Выберите модель авто</option>
					<option>Выберите модель авто</option>
					<option>Выберите модель авто</option>
				</select>
				<div class="prices">
					<div class="flex">
						<input type="text" id="amount" readonly>
						<span class="line"></span>
						<input type="text" id="amount2" readonly>
					</div>
					<div id="slider-range"></div>
				</div-->
			{#<a href="#" class="bottom-link">Показать все параметры <span></span></a>#}
		
</div>


<main class="catalog-block pt-0 mt-0">
	<div class="container-fluid catalog-products" id="catalog">
			{{DLCatalog |raw}}
	{#<button class="more-button">Показать еще <span></span></button>#}
			
				{{ plh['catalog.pages'] | raw }}
				
		</div>
		{% include('partials/banks.twig') %}

</main>
{{runSnippet ('bdebug', {})}}
{#% include 'partials/actions.twig' %#}
</div>
<script type="text/javascript">	
var waitForJQuery2 = setInterval(function () {
    if (typeof $ != 'undefined') {
	  $( function() {
	    $( "#slider-range" ).slider({
	      range: true,
	      min: 0,
	      max: 50000,
	      values: [ 10000, 30000 ],
	      slide: function( event, ui ) {
	        $( "#amount" ).val( "Цена от " + ui.values[ 0 ] + " р.");
	        $( "#amount2" ).val( "Цена до " + ui.values[ 1 ] + " р.");
	      }
	    });
	    $( "#amount" ).val( "Цена от " + $( "#slider-range" ).slider( "values", 0 ) + " р.");
	    $( "#amount2" ).val( "Цена до " + $( "#slider-range" ).slider( "values", 1 ) + " р.");
	  } );
	  clearInterval(waitForJQuery2);
    }
}, 1000);
	</script>
{% endblock %}