	<div class="trade-in-block pb-5">
		<div class="container">
			<div class="content position-relative">
				<div class="image position-absolute">
					<img src="img/trade-in.png">
				</div>
				<div class="name mb-3">
					<span class="d-block">Обменяем старый</span> автомобиль на новый
				</div>
				<div class="item mb-3 position-relative">
					<div class="number">
						1
					</div>
					<p>Бесплатная оценка Вашего автомобиля</p>
				</div>
				<div class="item mb-3 position-relative">
					<div class="number">
						2
					</div>
					<p>Бесплатная диагностика автомобиля для подтверждения рыночной стоимости</p>
				</div>
				<div class="item mb-3 position-relative">
					<div class="number">
						3
					</div>
					<p>Бесплатное оформление всех документов</p>
				</div>
				<div class="bottom-text mb-4">
					Получите предварительную экспресс-оценку стоимости за 10 минут по телефону.
				</div>
				<button>Получить экспресс-оценку</button>
			</div>
		</div>
	</div>
	<div class="not-found-block position-relative mb-5">
		<div class="image" style="background: url('img/not-found.png') center/cover;">
			<img src="img/car2.png">
		</div>
		<div class="container">
			<div class="text">
				<div class="name mb-3">
					<span class="d-block">Не нашли , что искали?</span>
					Закажите автомобиль для себя
				</div>
				<p class="mb-3">Закажите автомобиль с нужными характеристиками и комплектацией.</p>
				<p class="mb-3">Узнайте о возможностях и сроках заказа</p>
				<button>Узнать о заказе авто</button>
			</div>
		</div>
	</div>