<div class="index-filter-block mb-5 p-sm-5 p-3 ">
    <div class="name text-center mb-5">
        Автомобили с пробегом по низким ценам
    </div>
    <div class="row extrafilter justify-content-end">
        {{ data['wrap'] | raw }}
        <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center py-3 px-3">
            <button class="btn filterbutton">Показать результаты</button>
        </div>
    </div>

</div>

