<div class="catalog-page">
    <div class="filter">
            <div class="row d-flex align-items-center extrafilter">
                {{ data['wrap'] | raw }}
                <div class="col-lg-2 col-md-3 col-sm-6 button text-right d-flex align-items-center">
                    <button class="btn  filterbutton">Показать</button>
                </div>
            </div>
    </div>
</div>
