<div class="extrafilter">
    <div class="flex">
        <div class="row extrafilter">
            {{ data['wrap'] | raw }}
        </div>
        <div class="button text-right">
            <button class="btn  filterbutton">Показать результаты</button>
        </div>
    </div>
</div>
