<div class="compilations-block">
        <div class="container-fluid">
            <h2>Подборки</h2>
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="item">
                        <div class="name">
                            Седан
                        </div>
                        <button onclick="location.href='/avtomobili-s-probegom?f[9]=Седан|Седан Богдан|Седан Extended|Седан Gran Coupe|Седан Japan Market|Седан Long|Седан Sport|Седан Sporty|Седан Stepway|Седан SWB';">Подробнее</button>
                        <img src="/templates/autodm/img/compilation1.png">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="item">
                        <div class="name">
                            Хетчбек
                        </div>
                        <button onclick="location.href='/avtomobili-s-probegom?f[9]=Хэтчбек 3 дв.|Хэтчбек 3 дв. Cooper S|Хэтчбек 3 дв. GTC|Хэтчбек 3 дв. JCW|Хэтчбек 4 дв.|Хэтчбек 5 дв.|Хэтчбек 5 дв. Best|Хэтчбек 5 дв. Cooper S|Хэтчбек 5 дв. Cross|Хэтчбек 5 дв. Crossback|Хэтчбек 5 дв. Executive|Хэтчбек 5 дв. GT Line|Хэтчбек 5 дв. Sportback|Хэтчбек 5 дв. Stepway|Хэтчбек 5 дв. X|Хэтчбек 5 дв. X-Line';">Подробнее</button>
                        <img class="pb-4 pl-4" src="/templates/autodm/img/compilation2.png">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="item">
                        <div class="name">
                            Универсал
                        </div>
                        <button onclick="location.href='/avtomobili-s-probegom?f[9]=Универсал 5 дв.|Универсал 5 дв. Alltrack|Универсал 5 дв. Cooper S|Универсал 5 дв. Country Tourer|Универсал 5 дв. Cross|Универсал 5 дв. CrossTourer|Универсал 5 дв. JCW|Универсал 5 дв. Scout|Универсал 5 дв. SW|Универсал 5 дв. SW Cross';">Подробнее</button>
                        <img class="pb-4 pl-1"  src="/templates/autodm/img/compilation3.png">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="item">
                        <div class="name">
                            Внедорожник
                        </div>
                        <button onclick="location.href='/avtomobili-s-probegom?f[9]=Внедорожник 3 дв.|Внедорожник 3 дв. 71|Внедорожник 3 дв. 78|Внедорожник 3 дв. Рысь|Внедорожник 3 дв. Bronto|Внедорожник 3 дв. Urban|Внедорожник 5 дв.|Внедорожник 5 дв. 4x4|Внедорожник 5 дв. 76|Внедорожник 5 дв. Allspace|Внедорожник 5 дв. Cooper S|Внедорожник 5 дв. Coupé|Внедорожник 5 дв. Crozz|Внедорожник 5 дв. ESV|Внедорожник 5 дв. Grand|Внедорожник 5 дв. JCW|Внедорожник 5 дв. L|Внедорожник 5 дв. Long|Внедорожник 5 дв. Prime|Внедорожник 5 дв. SRT|Внедорожник 5 дв. X';">Подробнее</button>
                        <img class="pb-1 pl-3" src="/templates/autodm/img/image-142-transformed.png">
                    </div>
                </div>

            </div>
        </div>
    </div>