<div class="popup" id="popup1" style="display: none; width: 100%; max-width: 730px; background: #203862; color: #fff;">
  <div class="name mb-4 text-center">
    Полный отчет по авто
  </div>
  {{ runSnippet('Form', {
  formid: 'FormCallback',
  path: '/templates/autostar2/partials/forms/feedback_modal/',
  extension: 'twig'
  }) | raw }}
</div>
<div class="popup" id="popup2" style="display: none; width: 100%; max-width: 730px; background: #DB001A; color: #fff;">
  <div class="name mb-4 text-center">
    Бронирование авто
  </div>
  {{ runSnippet('Form', {
  formid: 'FormCallback',
  path: '/templates/autostar2/partials/forms/feedback_modal/',
  extension: 'twig'
  }) | raw }}
</div>
<div class="popup" id="popup3" style="display: none; width: 100%; max-width: 730px; background: #D9D9D9; color: #fff;">
  <div class="name mb-4 text-center">
    Запрос консультации
  </div>
  {{ runSnippet('Form', {
  formid: 'FormCallback',
  path: '/templates/autostar2/partials/forms/feedback_modal/',
  extension: 'twig'
  }) | raw }}
</div>
