<div class="col-md-6 col-lg-3 products-slide swiper-slide h-auto d-flex">
                                <div class="card-product d-flex flex-column">
                                    <div class="card-product-head position-relative bg-white box-shadow border-radius-8 p-0">
                                        <a href="#" class="img">
                                            <img src="[[phpthumb?&input=`[+image+]`&options=`w=350,h=464,zc=1`]]" alt="" style="max-height: 465px;">
                                        </a>
                                    </div>
                                    <div class="card-product-body flex-grow-1">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="price d-flex align-items-baseline pr-3">
                                                <div class="price-current fw-700">[+price+]</div>
                                            </div>
                                            <div class="stock d-flex align-items-center text-success text-small fw-600">
                                                <i></i>
                                                <span>В наличии</span>
                                            </div>
                                        </div>
                                        <div class="text ff-2 fw-600 text-dark-50">[+title+]</div>
                                        <p>[+text+]</p>
                                    </div>

                                </div>
                            </div>