<div class="swiper-slide">
	<div class="tarif bg-white border-radius-8 box-shadow">
		<div class="row">
			<div class="col-md-auto tarif-img">
				<img src="[[phpthumb?&input=`[+image+]`&options=`w=351,h=351,zc=1`]]" alt="" class="about-us-img object-fit-cover border-radius-8">							
			</div>
			<div class="col-md tarif-info pl-lg-0">
				<h2 class="name mb-3">
					<span class="text-decoration-none">[+title+]</span>
				</h2>
				<div class="spec">
					[[helpers?
					&action=`nl2p`
					&text=`[+text+]`
					]]
				</div>
			</div>
		</div>
	</div>
</div>