.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
	 cursor: default;
}
 .fancybox-slide--html .fancybox-close-small {
	 width: 30px;
	 height: 30px;
	 right: 10px;
	 top: 10px;
	 padding: 5px;
	 color: #fff;
	 border-radius: 50%;
	 border: 1px solid #FFFFFF;
}
 .fancybox-slide--html .fancybox-close-small:hover:after {
	 background: rgba(0,0,0,0);
}
 .fancybox-slide--html .popup#thx-popup .fancybox-close-small, .fancybox-slide--html .popup#err-popup .fancybox-close-small, .fancybox-slide--html .popup_configurator .fancybox-close-small, .fancybox-slide--html .popup_call-order .fancybox-close-small {
	 color: #646a9b;
	 border: 1px solid #646a9b;
}
 .fancybox-slide--html .fancybox-close-small:after {
	 width: 30px;
	 height: 30px;
	 font: 400 30px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
	 color: #fff;
	 z-index: 2;
}
 .popup {
	 box-sizing: border-box;
	 background: #fff;
	 background: ;
	 border-radius: 24px;
	 box-shadow: 0px 4px 94px rgba(0,0,0,0.14);
	 padding: 0;
	 overflow: hidden;
}
 .popup__header {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 width: 100%;
	 max-width: 750px;
	 background: url(/images/popup-bg.png) no-repeat center/cover;
	 border-radius: 0 0 24px 24px;
	 padding: 50px;
	 color: #fff;
	 position: relative;
}
 .popup__header-pic {
	 display: block;
	 width: 250px;
	 position: absolute;
	 bottom: 0;
	 right: 0;
}
 .popup__content {
	 display: flex;
	 flex-direction: column;
	 box-sizing: border-box;
	 max-width: 750px;
	 padding: 50px;
	 position: relative;
}
 .popup__content.popup__content_thx {
	 display: none;
}
 .popup__content.popup__content_err {
	 display: none;
}
 .popup__caption {
	 text-align: center;
	 font: 700 24px/1.3 "Montserrat";
	 max-width: 460px;
	 margin: 0 auto 20px;
	 position: relative;
	 z-index: 2;
}
 .popup__heading {
	 font: 700 24px/1.3 "Montserrat";
	 max-width: 350px;
	 margin: 0 0 20px;
	 position: relative;
	 z-index: 2;
}
 .popup__subheading {
	 font: 400 16px "Montserrat";
	 max-width: 400px;
	 margin: 0 0 80px;
	 position: relative;
	 z-index: 2;
}
 .popup__descr {
	 font: 400 14px "Montserrat";
	 margin-bottom: 15px;
}
 .popup__nums {
	 font: 700 24px "Montserrat";
}
 .popup__auto {
	 display: flex;
	 width: 55%;
	 position: absolute;
	 right: 0;
	 bottom: 0;
}
 .popup__auto img {
	 max-width: 100%;
	 margin: auto 0 0;
}
 .popup__circle {
	 width: 110px;
	 position: absolute;
	 top: 10px;
	 left: 50px;
}
 .popup__form-details {
	 display: block;
	 font: 400 12px "Montserrat";
	 color: #4B4D5A;
	 padding-left: 25px;
	 margin-top: 25px;
	 position: relative;
}
 .popup__form-details:before {
	 content: "";
	 width: 13px;
	 height: 13px;
	 background: url(/images/icons/phone-blue.svg) no-repeat center/contain;
	 position: absolute;
	 left: 0;
	 top: 0;
}
 .popup__form-details_note:before {
	 background: url(/images/icons/info.svg) no-repeat center/contain;
}
 .popup__icon {
	 box-sizing: border-box;
	 width: 60px;
	 height: 60px;
	 background: ;
	 border-radius: 50%;
	 margin: 0 auto 30px;
	 position: relative;
}
 .popup__icon:before {
	 content: "";
	 width: 88px;
	 height: 88px;
	 box-sizing: border-box;
	 border-radius: 50%;
	 background: rgba(100,106,155,0.2);
	 position: absolute;
	 top: -14px;
	 left: -14px;
}
 .popup__icon_callback {
	 background: url(/images/icons/headphones.svg) no-repeat center, ;
	 background-size: 50%;
}
 .popup__icon_mail {
	 background: url(/images/icons/email.svg) no-repeat center, ;
	 background-size: 50%;
}
 .popup__presents {
	 display: flex;
	 flex-wrap: nowrap;
	 max-width: 350px;
}
 .popup__present {
	 flex: 1;
	 font: 400 12px "Montserrat";
	 color: #FFFFFF;
	 padding-right: 15px;
}
 .popup__present:last-child {
	 padding-right: 0;
}
 .popup__present-icon {
	 display: flex;
	 width: 54px;
	 height: 54px;
	 box-sizing: border-box;
	 background: linear-gradient(215.8deg,rgba(31,45,118,0.46) 7.84%,rgba(0,0,0,0) 118.14%);
	 border-radius: 24px;
	 margin-bottom: 10px;
}
 .popup__present-icon img {
	 width: 75%;
	 margin: auto;
}
 .popup .wpcf7 {
	 position: relative;
	 z-index: 2;
}
 .popup .button {
	 width: 100%;
}
 .popup__header_reserve .popup__subheading {
	 margin: 0 0 30px;
}
 .popup__header_reserve .popup__auto {
	 right: -15px;
	 bottom: -30px;
}
 .popup__header_trade-in .popup__auto {
	 width: 62%;
}
 .popup__header_offer .popup__heading {
	 max-width: 390px;
}
 .popup__header_gos .popup__heading {
	 max-width: 330px;
}
 .popup__header_gos .popup__subheading {
	 margin: 0 0 30px;
}
 .popup__header_guarantee .popup__heading {
	 max-width: 330px;
}
 .popup__header_guarantee .popup__auto {
	 right: -70px;
}
 .popup__header_guarantee .popup__header-pic {
	 width: 160px;
	 right: 30px;
}
 .popup__header_guarantee .popup__subheading {
	 margin-bottom: 35px;
}
 .popup-response {
	 display: flex;
	 flex-direction: column;
	 position: relative;
	 font: 400 16px "Montserrat";
	 text-align: center;
	 max-width: 320px;
	 z-index: 1;
}
 .popup-response__text-sm {
	 margin: 15px 0 20px;
}
 .popup-response__phone {
	 box-sizing: border-box;
	 padding-top: 20px;
	 border-top: 1px solid #D9D9D9;
	 font: 400 12px "Montserrat";
	 text-align: center;
	 color: #747474;
}
 .popup-response__phone a {
	 display: block;
	 font-weight: 700;
	 font-size: 14px;
	 color: #000000;
	 margin-top: 7px;
}
 .popup.popup_sent .popup__header {
	 display: none;
}
 .popup.popup_sent .popup__content, .popup.popup_sent .configurator {
	 display: none;
}
 .popup_credit .popup__form-details:last-child {
	 margin-top: 8px;
}
 .popup#thx-popup .popup__content.popup__content_thx, .popup#err-popup .popup__content.popup__content_thx {
	 display: block;
}
 .popup#thx-popup .popup__content.popup__content_err, .popup#err-popup .popup__content.popup__content_err {
	 display: block;
}
 @media screen and (max-width: 767px) {
	 .fancybox-close-small {
		 right: 0;
		 top: 0;
	}
	 .popup__header {
		 max-width: 320px;
		 padding: 30px 20px;
	}
	 .popup__content {
		 padding: 30px 20px;
		 max-width: 320px;
	}
	 .popup__heading {
		 font-size: 20px;
		 margin-bottom: 10px;
	}
	 .popup__subheading {
		 max-width: 220px;
		 margin: 0 0 50px;
	}
	 .popup__nums {
		 font-size: 18px;
	}
	 .popup__auto {
		 width: 190px;
		 bottom: 20px;
		 right: -30px;
	}
	 .popup__descr {
		 margin-bottom: 10px;
		 max-width: 145px;
	}
	 .popup__header-pic {
		 width: 120px;
	}
	 .popup__circle {
		 width: 60px;
		 top: 0px;
		 left: 20px;
	}
	 .popup__header_trade-in .popup__auto {
		 width: 62%;
		 bottom: 0;
	}
	 .popup__header_trade-in .popup__header-pic {
		 width: 85px;
	}
	 .popup__header_reserve .popup__subheading, .popup__header_gos .popup__subheading {
		 margin: 0 0 30px;
		 max-width: 140px;
	}
	 .popup__header_reserve .popup__auto, .popup__header_gos .popup__auto {
		 right: -15px;
		 bottom: -10px;
	}
	 .popup__header_guarantee .popup__auto {
		 display: none;
	}
	 .popup__header_guarantee .popup__header-pic {
		 display: none;
	}
	 .popup .wpcf7-form-control-wrap-33 {
		 width: 100%;
	}
	 .popup .wpcf7-form-control-wrap-button {
		 margin: 15px 0;
	}
}
 .sticky {
	 position: fixed;
	 bottom: 20px;
	 left: 30px;
	 z-index: 10000;
}
 .sticky__close {
	 box-sizing: border-box;
	 border-radius: 50%;
	 width: 22px;
	 height: 22px;
	 border: 1px solid #e40000;
	 position: absolute;
	 top: 10px;
	 right: -25px;
	 z-index: 1;
	 cursor: pointer;
}
 .sticky__close:before {
	 content: "";
	 width: 10px;
	 height: 2px;
	 background: #E40000;
	 transform: rotate(45deg);
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 margin: auto;
}
 .sticky__close:after {
	 content: "";
	 width: 10px;
	 height: 2px;
	 background: #E40000;
	 transform: rotate(-45deg);
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 margin: auto;
}
 .sticky img {
	 display: block;
	 position: absolute;
	 top: -45px;
	 left: 0;
	 right: 0;
	 margin: 0 auto;
	 z-index: 1;
}
 .sticky__inner {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 box-sizing: border-box;
	 background: linear-gradient(0deg,rgba(100,106,155,0.5),rgba(100,106,155,0.5)), linear-gradient(247.66deg,#5E5B69 11.35%,#000000 74.69%);
	 border-radius: 36px;
	 padding: 40px 30px 30px;
	 margin-top: 10px;
	 color: #FFFFFF;
	 overflow: hidden;
	 position: relative;
}
 .sticky__caption {
	 font: 700 18px "Montserrat";
	 text-align: center;
	 max-width: 150px;
	 margin-bottom: 5px;
	 position: relative;
	 z-index: 1;
}
 .sticky__descr {
	 font: 400 14px "Montserrat";
	 text-align: center;
	 max-width: 150px;
	 position: relative;
	 z-index: 1;
}
 .sticky__nums {
	 background: #E40000;
	 border-radius: 36px;
	 font: 700 12px "Montserrat";
	 padding: 3px 10px;
	 margin: 10px auto 0;
}
 @media screen and (max-width: 1279px) {
	 .sticky {
		 left: 15px;
	}
}
 @media screen and (max-width: 767px) {
	 .sticky {
		 bottom: 10px;
		 left: 5px;
	}
	 .sticky__inner {
		 width: 170px;
		 height: 170px;
		 padding: 20px 10px 15px;
	}
	 .sticky__caption {
		 font-size: 16px;
		 margin-bottom: 3px;
	}
}
 @media screen and (max-width: 639px) {
	 .sticky {
		 display: none;
	}
}
 
input[type="checkbox"], input[type="file"], input[type="radio"] {
	 display: none;
}
 .wpcf7-form-row {
	 display: flex;
	 flex-wrap: wrap;
	 align-items: flex-end;
	 margin: -5px;
}
 .wpcf7-form-control-wrap {
	 box-sizing: border-box;
	 display: block;
	 padding: 5px;
	 position: relative;
}
 .wpcf7-form-control-wrap.wpcf7-form-control-wrap-50 {
	 width: 50%;
}
 .wpcf7-form-control-wrap.wpcf7-form-control-wrap-33 {
	 width: 33.3333%;
}
 .wpcf7-form-control-wrap.wpcf7-form-control-wrap-20 {
	 width: 20%;
}
 .wpcf7-form-control-wrap .button {
	 width: 100%;
}
 .wpcf7-form-control-wrap-label {
	 display: block;
	 font-family: "Montserrat";
	 font-size: 13px;
	 color: ;
	 margin-bottom: 10px;
}
 .wpcf7-form-control {
	 display: block;
	 box-sizing: border-box;
	 height: 60px;
	 width: 100%;
	 outline: 0;
	 border: 1px solid #fff;
	 border-radius: 6px;
	 padding: 0 20px;
	 background: #fff;
	 font-family: "Montserrat";
	 font-size: 16px;
	 color: #000000;
}
 .wpcf7-form-control:not([type=submit]):focus {
	 border: 1px solid ;
}
 .wpcf7-form-control.wpcf7-form-control_textarea {
	 line-height: 1.5;
	 padding: 25px 30px;
	 resize: vertical;
	 min-height: 160px;
}
 .wpcf7-details {
	 font-size: 12px;
	 color: #8A8A8A;
}
 .wpcf7-details_info {
	 display: block;
	 position: relative;
	 padding-left: 25px;
}
 .wpcf7-details_info:before {
	 content: "";
	 width: 15px;
	 height: 15px;
	 background: url(/images/icons/info.svg) no-repeat center;
	 background-size: contain;
	 position: absolute;
	 left: 0;
	 top: 0;
}
 fieldset {
	 padding: 0;
	 margin: 0;
	 border: 0;
}
 input:-webkit-autofill {
	 -webkit-animation-name: autofill;
	 -webkit-animation-fill-mode: both;
}
 @-webkit-keyframes autofill {
	 to {
		 background: #ffffff;
	}
}
 input.error, textarea.error {
	 border: none;
	 border: 1px solid ;
	 background: url(/images/icons/valid-error.svg) no-repeat right 20px center, #fff;
	 position: relative;
}
 input.valid, textarea.valid {
	 background: url(/images/icons/valid-ok.svg) no-repeat right 20px center, #fff;
}
 .wpcf7-form-control.error:not([type=submit]):focus {
	 border: none;
	 border: 1px solid rgba(11,31,53,0.6);
}
 .checkbox {
	 display: block;
}
 .checkbox__field, .checkbox__field_configurator {
	 display: block;
	 box-sizing: border-box;
	 font: 400 12px/1 "Montserrat";
	 color: #6A6A6A;
	 padding-left: 35px;
	 position: relative;
}
 .checkbox__field::before, .checkbox__field_configurator:before {
	 content: "";
	 width: 26px;
	 height: 26px;
	 border: 1px solid #DEDEDE;
	 box-sizing: border-box;
	 position: absolute;
	 left: 0;
	 top: 0;
	 bottom: 0;
	 margin: auto 0;
}
 .checkbox input[type="checkbox"].error + .checkbox__field::before {
	 border: 1px solid #f13836;
}
 .checkbox:hover .checkbox__field::before {
	 border: 1px solid ;
}
 .checkbox.changed .checkbox__field::before {
	 border: 1px solid ;
	 background: url(/images/icons/checkbox.svg) no-repeat center;
}
 .checkbox.changed .checkbox__field_configurator:before {
	 border: 1px solid ;
	 background: url(/images/icons/checkbox-white.svg) no-repeat center, ;
}
 .call-order-screen .checkbox__field, .trade-in-screen .checkbox__field, .trade-in-form .checkbox__field {
	 color: #fff;
}
 .call-order-screen .checkbox__field::before, .trade-in-screen .checkbox__field::before, .trade-in-form .checkbox__field::before {
	 color: #fff;
}
 .call-order-screen .checkbox.changed .checkbox__field::before, .trade-in-screen .checkbox.changed .checkbox__field::before, .trade-in-form .checkbox.changed .checkbox__field::before {
	 background: url(/images/icons/checkbox-white.svg) no-repeat center;
	 border: 1px solid #fff;
}
 .radio-button {
	 display: flex;
	 align-items: center;
	 margin: 5px 0;
	 cursor: pointer;
}
 .radio-button__label {
	 display: block;
	 font-family: "Montserrat";
	 font-size: 16px;
}
 .radio-button__ripple {
	 flex-shrink: 0;
	 box-sizing: border-box;
	 width: 26px;
	 height: 26px;
	 border: 1px solid #DEDEDE;
	 background-color: #ffffff;
	 display: inline-block;
	 position: relative;
	 margin: auto 15px auto 0;
	 border-radius: 50%;
	 vertical-align: middle;
}
 .radio-button__ripple:before {
	 display: none;
	 content: '';
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 border-radius: 50%;
	 width: 20px;
	 height: 20px;
	 background: ;
}
 .radio-button__color {
	 content: '';
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 border-radius: 50%;
	 width: 20px;
	 height: 20px;
	 background: #f6d805;
}
 input[type="radio"]:checked + .radio-button__ripple {
	 border: 1px solid ;
}
 input[type="radio"]:checked + .radio-button__ripple:before {
	 display: block;
}
 .radio-button_color input[type="radio"]:checked + .radio-button__ripple:before {
	 display: none;
}
 .form {
	 box-sizing: border-box;
	 padding: 35px 30px 40px 40px;
}
 .form__icon svg {
	 display: block;
	 margin: 0 auto 20px;
}
 .form__icon svg path {
	 stroke: ;
}
 .form__top-line {
	 font: 400 12px "Montserrat";
	 margin-bottom: 25px;
	 margin-bottom: 5px;
}
 .form__caption {
	 font: 700 22px "Montserrat";
	 margin-bottom: 20px;
}
 .form__caption span {
	 box-sizing: border-box;
	 background: #E30611;
	 border-radius: 6px;
	 padding: 1px 7px;
	 font: 700 11px "Montserrat";
	 color: #fff;
}
 .form__caption-sm {
	 font: 400 12px "Montserrat";
	 margin-bottom: 25px;
}
 .form__text-sm {
	 font: 400 12px "Montserrat";
	 color: rgba(0,0,0,0.5);
}
 .form_grey {
	 background: ;
	 border-radius: 24px;
}
 .form_white {
	 background: #fff;
	 border-radius: 24px;
}
 .form_white .wpcf7-form-control {
	 background: ;
}
 .form_blue {
	 background: ;
	 color: #fff;
}
 .form_blue .form__icon svg path {
	 stroke: #fff;
}
 .form_blue .wpcf7-form-control-wrap-label {
	 color: #fff;
}
 .form_blue .form__text-sm {
	 color: #fff;
}
 @media screen and (max-width: 1279px) {
	 .form {
		 padding: 25px 20px;
	}
}
 @media screen and (max-width: 1023px) {
	 .form__caption {
		 margin-bottom: 20px;
	}
	 .wpcf7-form-control-wrap-label {
		 margin-bottom: 5px;
	}
}
 @media screen and (max-width: 767px) {
	 .form {
		 padding: 20px 15px;
	}
	 .wpcf7-form-row {
		 flex-wrap: wrap;
	}
	 .wpcf7-form-control-wrap.wpcf7-form-control-wrap-50 {
		 width: 100%;
	}
}
 .form-screen {
	 display: flex;
	 flex-wrap: nowrap;
	 box-sizing: border-box;
	 background: #F2F3F7;
	 border-radius: 24px;
	 overflow: hidden;
}
 .form-screen__form {
	 flex: 1;
	 padding: 40px 45px 40px;
}
 .form-screen__caption {
	 font: 700 24px "Montserrat";
	 margin-bottom: 40px;
}
 .form-screen__info {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 box-sizing: border-box;
	 width: 410px;
	 padding: 42px 60px 42px;
	 background: linear-gradient(0deg,rgba(100,106,155,0.5),rgba(100,106,155,0.5)), linear-gradient(259.06deg,#5E5B69 17.58%,#000000 89.96%);
	 position: relative;
}
 .form-screen__info:before {
	 content: "";
	 position: absolute;
	 bottom: 0;
	 right: 0;
}
 .form-screen__info_offer:before {
	 width: 100%;
	 height: 100%;
	 background: url(/images/present.png) no-repeat bottom right/contain;
}
 .form-screen__info_express:before {
	 width: 100%;
	 height: 100%;
	 background: url(/images/percent.png) no-repeat bottom right/contain;
}
 .form-screen__info-line {
	 display: flex;
	 flex-wrap: nowrap;
	 max-width: 210px;
	 margin-bottom: 40px;
}
 .form-screen__info-line .form-screen__info-item {
	 width: 50%;
	 margin-bottom: 0;
}
 .form-screen__info-item {
	 margin-bottom: 40px;
}
 .form-screen__info-item:last-child {
	 margin-bottom: 0;
}
 .form-screen__label {
	 font: 400 14px "Montserrat";
	 color: #FFFFFF;
	 margin-bottom: 5px;
}
 .form-screen__descr {
	 font: 400 24px "Montserrat";
	 color: #FFFFFF;
}
 @media screen and (max-width: 1279px) {
	 .form-screen__info-line {
		 margin-bottom: 25px;
	}
	 .form-screen__info-item {
		 margin-bottom: 25px;
	}
	 .form-screen__info {
		 width: 300px;
		 padding: 35px 25px 35px;
	}
	 .form-screen__info_express:before {
		 right: -30px;
	}
	 .form-screen__info_offer:before {
		 right: -50px;
	}
	 .form-screen__form {
		 padding: 30px 25px 30px;
	}
	 .form-screen__caption {
		 margin-bottom: 25px;
	}
}
 @media screen and (max-width: 1023px) {
	 .form-screen__form {
		 padding: 20px 15px 20px;
	}
	 .form-screen__info {
		 width: 160px;
		 padding: 25px 15px;
	}
	 .form-screen__info:before {
		 display: none;
	}
	 .form-screen__caption {
		 font-size: 21px;
		 margin-bottom: 15px;
	}
	 .form-screen__descr {
		 font-size: 18px;
	}
	 .form-screen .button {
		 padding: 20px 10px;
	}
}
 @media screen and (max-width: 767px) {
	 .form-screen {
		 flex-direction: column;
	}
	 .form-screen__info {
		 width: 100%;
		 flex-direction: row;
	}
	 .form-screen__info-line {
		 margin-bottom: 0;
	}
	 .form-screen__info-item {
		 margin: 0 10px 0;
		 text-align: center;
	}
}
 @media screen and (max-width: 639px) {
	 .form-screen .wpcf7-form-control-wrap-33 {
		 width: 100%;
	}
}
 