{% extends './app.twig' %}

{% block MAIN %}
{% set catalog_number = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}

{% set DLCatalog = runSnippet('DocLister', {
		id: 'catalog',
		controller: 'catalog_filters',
		display: 21,
		parents: catalog_number,
		depth: 2,
		tvList:'car-price,credit_rate,old-car-price,run,engine_power,gear,year,image,car_photos,body_type,car_color,engine_volume,fuel,drive',
		ownerTPL: '@T_FILE:partials/wrap',
		noneTPL:'@CODE: <div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="catalog-block h4">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
    </div>
  </div>
</div>',
		tpl:'@T_FILE:partials/catalogcard',
		paginate:'pages',
		TplNextP:'@CODE:<li class="page-item d-inline-block mx-sm-3 mx-2"><a class="page-link" href="+link+]"><span class="next"></span></a></li>',
		TplPrevP:'@CODE:<li class="page-item d-inline-block mx-sm-3 mx-2"><a class="page-link" href="[+link+]"><span class="prev"></span></a></li>',
		TplPage:'@CODE:<li class="page-item d-inline-block mx-sm-3 mx-2"><a class="page-link" href="[+link+]">[+num+]</a></li>',
		TplCurrentPage:'@CODE:<li class="page-item d-inline-block mx-sm-3 mx-2"><a class="page-link active" href="[+link+]">[+num+]</a></li>',
		TplWrapPaginate:'@CODE:<ul class="pagination d-inline-block">[+wrap+]</ul>',
		filter: 'filters',
		filterRangeSeparator: ':',
		filterValuesSeparator: '|',
		filterDelimiter: '||',
		__filterPriceId: 14,
		__filterList: '19:range;20:dropdown;14:dropdown;42:dropdown;43:dropdown;15:range;16:range;9:dropdown;11:dropdown;10:dropdown',
		_filterList: '42,43,14',
		filterList: '19,42,43',
		filterTpl: '@T_FILE:partials/filters/tpl',
		filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
		filterTplRange: '@T_FILE:partials/filters/tplRange',
		filterOwnerCheckbox: '@T_FILE:partials/filters/ownerCheckbox',
		filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
		tvSortType: 'UNSIGNED'
	})
%}
{#% include('partials/crumbs.twig') %#}
<div class="page-name py-4">
	<div class="container">
		<h1 class="h1 m-0">Каталог автомобилей с пробегом</h1>
	</div>
</div>
<div class="index-calc-block inner position-relative pt-5 pb-5 text-center">
	<div class="container position-relative">
		<div class="row">
			{{ plh['catalog.filters'] | raw }}
		</div>
		<!--a class="bottom-link mb-2 d-inline-block">Показать еще фильтры</a-->
	</div>
</div>
{% include '/partials/brands.twig' %}
<div class="catalog-page pb-5">
	<div class="container">
		<h2 class="h2 mb-sm-5 mb-4">Продажа автомобилей с пробегом</h2>
		<div class="row">
			{{DLCatalog |raw}}
		</div>
		<div class="pages text-center pt-3">
			<ul class="pagination d-inline-block">
				{{ plh['catalog.pages'] | raw }}
			</ul>
		</div>
	</div>
</div>
{% include('partials/banks.twig') %}

{#{runSnippet ('bdebug', {})}#}
{#% include 'partials/actions.twig' %#}
<div class="search-car-block mb-5">
	<div class="container">
		<div class="content p-4">
			<div class="row">
				<div class="col-lg-4">
					<div class="name pt-lg-3 pt-0 mb-4">
						Хотите ускорить
						поиск подходящего
						авто?
					</div>
					<p class="mb-4">Оставьте заявку на подбор или обмен авто</p>
				</div>
				<div class="col-lg-4 col-sm-6">
					<button data-toggle="modal" data-target="#exampleModal" class="item position-relative w-100 text-left" style="background: url('/templates/rofl/img/search-car1.png') center/cover;">
						<a href="#" style="pointer-events: none;
" class="position-absolute text-light w-100 p-3"><span class="pr-4">Оставить заявку на подбор</span></a>
					</button>
				</div>
				<div class="col-lg-4 col-sm-6">
					<button data-toggle="modal" data-target="#tradein" class="item position-relative w-100 text-left" id="tradeinbutton" style="background: url('/templates/rofl/img/search-car2.png') center/cover;">
						<a style="pointer-events: none;
" href="#" class="position-absolute text-light w-100 p-3"><span class="pr-4">Оставить заявку на Trade In</span></a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
