<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="color2.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="menubg"></div>
	<header class="header py-3">
		<div class="container flex">
			<div class="logo">
				<a href="/" class="d-inline-block"></a>
			</div>
			<ul class="pt-4 mt-1">
				<li class="d-inline-block"><a href="#">Автомобили в продаже</a></li>
				<li class="d-inline-block"><a href="#">Услуги</a></li>
				<li class="d-inline-block"><a href="#">О компании</a></li>
				<li class="d-inline-block"><a href="#">Контакты</a></li>
			</ul>
			<a href="tel:+78008887722" class="phone mt-3 pt-2">8(800)888-77-22</a>
			<a class="menu-button"></a>
		</div>
	</header>
	<main>
		<div class="index-page-slider text-light">
			<div class="item" style="background: url('img/slider.png') center/cover;">
				<div class="container">
					<div class="top-text mb-3">
						Скоро
					</div>
					<div class="text">
						Новый Volkswagen Teramont
					</div>
				</div>
			</div>
			<div class="item" style="background: url('img/slider.png') center/cover;">
				<div class="container">
					<div class="top-text mb-3">
						Скоро
					</div>
					<div class="text">
						Новый Volkswagen Teramont
					</div>
				</div>
			</div>
			<div class="item" style="background: url('img/slider.png') center/cover;">
				<div class="container">
					<div class="top-text mb-3">
						Скоро
					</div>
					<div class="text">
						Новый Volkswagen Teramont
					</div>
				</div>
			</div>
		</div>
		<div class="index-top-counts pt-3 text-light mb-5">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-6">
						<div class="item mb-3 py-1 px-2">
							<div class="pr-3">3678</div>
							<div>Новых автомобилей</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-6">
						<div class="item mb-3 py-1 px-2">
							<div class="pr-3">4678</div>
							<div>Автомобилей по акции</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-6">
						<div class="item mb-3 py-1 px-2">
							<div class="pr-3">435</div>
							<div>Автомобилей со скидкой за кредит</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-6">
						<div class="item mb-3 py-1 px-2">
							<div class="pr-3">2456</div>
							<div>Fредложений на атомобили</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index-top-form pb-4">
			<div class="container flex">
				<div class="fields mb-3">
					<div class="row">
						<div class="col-6">
							<p class="mb-2">Марка</p>
							<select class="w-100 px-3">
								<option>Выбрать...</option>
								<option>Выбрать...</option>
								<option>Выбрать...</option>
							</select>
						</div>
						<div class="col-6">
							<p class="mb-2">Модель</p>
							<select class="w-100 px-3">
								<option>Выбрать...</option>
								<option>Выбрать...</option>
								<option>Выбрать...</option>
							</select>
						</div>
					</div>
				</div>
				<div class="fields mb-3">
					<div class="row">
						<div class="col-6">
							<p class="mb-2">Цена от, руб</p>
							<input type="text" placeholder="Не выбрана..." class="w-100 px-3">
						</div>
						<div class="col-6">
							<p class="mb-2">Цена до, руб</p>
							<input type="text" placeholder="Не выбрана..." class="w-100 px-3">
						</div>
					</div>
				</div>
				<div class="buttons mb-3">
					<p class="mb-2">КПП</p>
					<div class="row">
						<div class="col-4">
							<button class="w-100">Любая</button>
						</div>
						<div class="col-4">
							<button class="w-100">АКПП</button>
						</div>
						<div class="col-4">
							<button class="w-100">МКПП</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dealers-block pb-5">
			<div class="container">
				<div class="block-name mb-4 pb-2">
					Официальный дилер 54 автомобильных марок
				</div>
				<div class="flex">
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
					<div class="list">
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
						<a href="#" class="d-block mb-3">Audi</a>
						<a href="#" class="d-block mb-3">Land Rover</a>
					</div>
				</div>
				<div class="button text-center pt-3">
					<button class="btn btn-danger">Смотреть все модели</button>
				</div>
			</div>
		</div>
		<div class="index-credit-block mb-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-3 position-relative">
							<span class="d-block mb-2">Купить в кредит</span>
							Оставьте заявку и мы свяжемся с Вами
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-3 position-relative">
							<span class="d-block mb-2">Купить в лизинг</span>
							Оставьте заявку и мы свяжемся с Вами 
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-3 position-relative">
							<span class="d-block mb-2">Оценить автомобиль</span>
							Оставьте заявку и мы свяжемся с Вами
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index-catalog-block pb-4">
			<div class="container">
				<div class="block-name mb-5">
					Предложение дня
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item mb-3 p-3">
							<div class="image text-center mb-2">
								<a href="#"><img src="img/item.png"></a>
							</div>
							<a href="#" class="name mb-3 d-block">Mercedes-Benz GLE новый</a>
							<div class="price mb-3">
								<span class="old">3 555 550₽</span>
								<div class="new">
									3 000 000₽
								</div>
							</div>
							<div class="items bg-dark text-light text-center p-2 mb-2">
								5 автомобилей в наличии
							</div>
							<button class="w-100 btn btn-danger">Купить в один клик</button>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item mb-3 p-3">
							<div class="image text-center mb-2">
								<a href="#"><img src="img/item.png"></a>
							</div>
							<a href="#" class="name mb-3 d-block">Mercedes-Benz GLE новый</a>
							<div class="price mb-3">
								<span class="old">3 555 550₽</span>
								<div class="new">
									3 000 000₽
								</div>
							</div>
							<div class="items bg-dark text-light text-center p-2 mb-2">
								5 автомобилей в наличии
							</div>
							<button class="w-100 btn btn-danger">Купить в один клик</button>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item mb-3 p-3">
							<div class="image text-center mb-2">
								<a href="#"><img src="img/item.png"></a>
							</div>
							<a href="#" class="name mb-3 d-block">Mercedes-Benz GLE новый</a>
							<div class="price mb-3">
								<span class="old">3 555 550₽</span>
								<div class="new">
									3 000 000₽
								</div>
							</div>
							<div class="items bg-dark text-light text-center p-2 mb-2">
								5 автомобилей в наличии
							</div>
							<button class="w-100 btn btn-danger">Купить в один клик</button>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="item mb-3 p-3">
							<div class="image text-center mb-2">
								<a href="#"><img src="img/item.png"></a>
							</div>
							<a href="#" class="name mb-3 d-block">Mercedes-Benz GLE новый</a>
							<div class="price mb-3">
								<span class="old">3 555 550₽</span>
								<div class="new">
									3 000 000₽
								</div>
							</div>
							<div class="items bg-dark text-light text-center p-2 mb-2">
								5 автомобилей в наличии
							</div>
							<button class="w-100 btn btn-danger">Купить в один клик</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index-catalog-block2 pb-4">
			<div class="container">
				<div class="block-name mb-5">
					Рекомендованные подборки
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-4 position-relative">
							<img src="img/item2.png" class="w-100">
							<div class="number position-absolute bg-light p-2">
								2235
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-4 position-relative">
							<img src="img/item2.png" class="w-100">
							<div class="number position-absolute bg-light p-2">
								2235
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-4 position-relative">
							<img src="img/item2.png" class="w-100">
							<div class="number position-absolute bg-light p-2">
								2235
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-4 position-relative">
							<img src="img/item2.png" class="w-100">
							<div class="number position-absolute bg-light p-2">
								2235
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-4 position-relative">
							<img src="img/item2.png" class="w-100">
							<div class="number position-absolute bg-light p-2">
								2235
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="item mb-4 position-relative">
							<img src="img/item2.png" class="w-100">
							<div class="number position-absolute bg-light p-2">
								2235
							</div>
							<div class="name position-absolute text-light w-100 p-3">
								Внедорожники
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer py-4 text-light">
		<div class="container">
			<div class="flex">
				<div class="logo mb-4">
					<a href="/" class="d-inline-block"></a>
				</div>
				<ul class="pt-4 mt-1 mb-4">
					<li class="d-inline-block"><a href="#" class="text-light">Автомобили в продаже</a></li>
					<li class="d-inline-block"><a href="#" class="text-light">Услуги</a></li>
					<li class="d-inline-block"><a href="#" class="text-light">О компании</a></li>
					<li class="d-inline-block"><a href="#" class="text-light">Контакты</a></li>
				</ul>
			</div>
			<div class="line mb-3"></div>
			<div class="flex">
				<div class="copy">
					Для повышения удобства работы с сайтом компания Major использует файлы cookie. <br/>
					В cookie содержатся данные о прошлых посещениях сайта.
				</div>
				<a href="tel:+78008887722" class="phone mt-2">8(800)888-77-22</a>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="js/common.js"></script>
</html>