<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="color1.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="menubg"></div>
	<header class="header py-3 bsh">
		<div class="container flex">
			<div class="logo">
				<a href="/" class="d-inline-block"></a>
			</div>
			<ul class="pt-4 mt-1">
				<li class="d-inline-block"><a href="#">Автомобили в продаже</a></li>
				<li class="d-inline-block"><a href="#">Услуги</a></li>
				<li class="d-inline-block"><a href="#">О компании</a></li>
				<li class="d-inline-block"><a href="#">Контакты</a></li>
			</ul>
			<a href="tel:+78008887722" class="phone mt-3 pt-2">8(800)888-77-22</a>
			<a class="menu-button"></a>
		</div>
	</header>
	<main>
		<div class="navi pt-4 pb-5">
			<div class="container">
				<a href="#">Главная страница</a> <span>//</span> <a href="#">Модельный ряд</a> <span>//</span> <a href="#">Ford</a> <span>//</span> Ford Everest
			</div>
		</div>
		<div class="item-page2 pb-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="photos mb-5">
							<div class="slider-for">
								<div class="item"><img src="img/item5.png"></div>
								<div class="item"><img src="img/item5.png"></div>
								<div class="item"><img src="img/item5.png"></div>
								<div class="item"><img src="img/item5.png"></div>
								<div class="item"><img src="img/item5.png"></div>
							</div>
							<div class="slider-nav">
								<div class="item"><img src="img/preview.png"></div>
								<div class="item"><img src="img/preview.png"></div>
								<div class="item"><img src="img/preview.png"></div>
								<div class="item"><img src="img/preview.png"></div>
								<div class="item"><img src="img/preview.png"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="info p-4 mb-5">
							<div class="name mb-2">
								Audi A3
							</div>
							<div class="top-text mb-4">
								2022 г., 1.4 /150 бенз. АКПП, передний <span class="d-inline-block py-1 px-2"><i></i> В наличии</span>
							</div>
							<div class="price mb-4">
								3 456 000₽
							</div>
							<input type="checkbox" class="checkbox" id="option1">
							<label for="option1" class="mb-3">
								<div><img src="img/option3.svg"></div>
								<div>
									Trade-in
									<a href="#" class="d-block mt-2">Оценить автомобиль</a>
								</div>
								<div class="discount position-absolute">-60 000₽</div>
							</label>
							<input type="checkbox" class="checkbox" id="option2">
							<label for="option2" class="mb-3">
								<div><img src="img/option4.svg"></div>
								<div>
									Кредит
									<a href="#" class="d-block mt-2">Рассчитать кредит</a>
								</div>
								<div class="discount position-absolute">-60 000₽</div>
							</label>
							<div class="row">
								<div class="col-6">
									<button class="btn btn-danger w-100">Заказать звонок</button>
								</div>
								<div class="col-6">
									<button class="btn btn-danger w-100">Калькулятор кредита</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-info pb-3">
					<div class="block-name mb-4">
						Основная информация
					</div>
					<div class="item py-3 px-4">
						<div><img src="img/item-icon7.svg"></div>
						<div>
							<span class="d-block">Цвет</span>
							Черный сапфир металлик
						</div>
					</div>
					<div class="item py-3 px-4">
						<div><img src="img/item-icon8.svg"></div>
						<div>
							<span class="d-block">Привод</span>
							Полный
						</div>
					</div>
					<div class="item py-3 px-4">
						<div><img src="img/item-icon9.svg"></div>
						<div>
							<span class="d-block">Кузов</span>
							Седан
						</div>
					</div>
					<div class="item py-3 px-4">
						<div><img src="img/item-icon10.svg"></div>
						<div>
							<span class="d-block">Салон</span>
							Центральная часть сидений черная с синими и серыми элементами, боковины сидений черные, черная панель приборов, черное ковровое покрытие, серый потолок
						</div>
					</div>
					<div class="item py-3 px-4">
						<div><img src="img/item-icon11.svg"></div>
						<div>
							<span class="d-block">Двигатель</span>
							Бензин
						</div>
					</div>
					<div class="item py-3 px-4">
						<div><img src="img/item-icon12.svg"></div>
						<div>
							<span class="d-block">Коробка</span>
							АКПП
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-form-block mb-5">
			<div class="container">
				<form class="p-sm-5 p-4 text-light" style="background: url('img/page-form.png') center/cover;">
					<div class="block-name mb-4">
						Индивидуальный подбор Ford
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<p class="mb-2">Модель</p>
							<select class="px-3 w-100">
								<option>Ranger</option>
								<option>Ranger</option>
								<option>Ranger</option>
							</select>
						</div>
						<div class="col-lg-3 col-sm-6">
							<p class="mb-2">Комментарий</p>
							<input type="text" placeholder="Например: 5 000 000 руб" class="px-3 w-100">
						</div>
						<div class="col-lg-3 col-sm-6">
							<p class="mb-2">Ваш телефон</p>
							<input type="text" placeholder="+7 (___) ___-__-__" class="px-3 w-100">
						</div>
						<div class="col-lg-3 col-sm-6 mt-4">
							<button class="w-100 text-light">Оставить заявку</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="item-botttom-info pb-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="block-name mb-4">
							Комплектация
						</div>
						<p class="mb-3">Экстерьер:</p>
						<table class="w-100 mb-5">
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
						</table>
						<p class="mb-3">Экстерьер:</p>
						<table class="w-100 mb-5">
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
						</table>
					</div>
					<div class="col-lg-6">
						<div class="block-name mb-4">
							Комплектация
						</div>
						<p class="mb-3">Экстерьер:</p>
						<table class="w-100 mb-5">
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
						</table>
						<p class="mb-3">Экстерьер:</p>
						<table class="w-100 mb-5">
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
							<tr>
								<td>Тип двигателя</td>
								<td>Бензиновый</td>
							</tr>
							<tr>
								<td>Объем двигателя,</td>
								<td> л 3.0</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer py-4 text-light">
		<div class="container">
			<div class="flex">
				<div class="logo mb-4">
					<a href="/" class="d-inline-block"></a>
				</div>
				<ul class="pt-4 mt-1 mb-4">
					<li class="d-inline-block"><a href="#" class="text-light">Автомобили в продаже</a></li>
					<li class="d-inline-block"><a href="#" class="text-light">Услуги</a></li>
					<li class="d-inline-block"><a href="#" class="text-light">О компании</a></li>
					<li class="d-inline-block"><a href="#" class="text-light">Контакты</a></li>
				</ul>
			</div>
			<div class="line mb-3"></div>
			<div class="flex">
				<div class="copy">
					Для повышения удобства работы с сайтом компания Major использует файлы cookie. <br/>
					В cookie содержатся данные о прошлых посещениях сайта.
				</div>
				<a href="tel:+78008887722" class="phone mt-2">8(800)888-77-22</a>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="js/common.js"></script>
</html>