.btn.btn-light {
  border: 1px solid #ffa500;
  color: #ffa500;
}
.btn.btn-light:hover {
  background: #ffa500;
}
.header .logo a {
  background: url('img/logo4.svg');
}
.header ul li a:hover {
  color: #ffa500;
}
.header .phone {
  background: url('img/phone5.svg') no-repeat 0 5px;
}
.footer ul li a:hover {
  color: #ffa500;
}
.actions-page .item a:hover {
  background: #ffa500;
  border: 1px solid #ffa500;
}
.text-danger {
  color: #F3BA13 !important;
}
.btn-danger {
  background-color: #F3BA13 !important;
  border-color: #F3BA13 !important;
}
.bg-danger {
  background-color: #ffa500 !important;
}
.index-catalog-block .tabs-nav li a.active {
  border: 1px solid #ffa500;
  color: #ffa500;
}
.index-contacts-block .logo .logotype {
  background: url('img/logo4.svg') center / cover;
}
.catalog-page .pages .pagination .page-item .page-link.active {
  background: #ffa500;
}
.contacts-page .contacts .info .logo .logotype {
  background: url('img/logo4.svg') center / cover;
}
.item-page .price-block .price span {
  color: #ffa500;
}
.item-page .bottom-block .btn-light:hover {
  border: 1px solid #ffa500;
}
.btn.btn-red {
  background: #ffa500;
}
/*  */
.header .contacts button {
  background: #F3BA13;
  color: #FFFFFF;
}
.mobburger{
  background: #F3BA13 url(/templates/chinaautosalon/img/for-color/menu.png) no-repeat center;
  color: #f5f3f3;
}
.header .offcanvas.show .offcanvas-body div button {
  color: #FFFFFF;
  background: #F3BA13;
}
.banner .index-first-block .container.d-flex {
  justify-content: start;
}
.index-first-block .text .name {
  font-weight: 700;
  font-size: 58px;
  line-height: 61px;
  color: #FFFFFF;
  padding-left: 0px;
  text-align: start;
}
.index-first-block .text p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
}
.index-first-block .text button {
  background: #F3BA13;
  color: #FFFFFF;
}
.index-first-block .text .but {
  justify-content: start;
}

.index-filter-block .button button {
  background: #F3BA13;
  color: #FFFFFF;
}
.filter-buttons-wrapper .button_clear button {
  background: #111;
  color: #FFFFFF;
}

.index-brands-block .item {
  background-color: #FFFFFF;
  border: 1px solid #F6E3E0
}

.steps-block {
  /* background: url('/templates/chinaautosalon/img/for-color/3333.png') no-repeat right 100px top 0 / contain, linear-gradient(138.4deg, #ada6ae 14.47%, #87808a 73.53%); */
  background-image: url('/templates/chinaautosalon/img/for-color/Frame 1000001729.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Центрируем изображение */
  /* Дополнительные свойства, если необходимо */
  height: 72vh; /* Например, установка высоты на весь экран (100% видимой высоты) */
}
.steps-block .item .text .number {
  color: #4E3249;
}
.steps-block .item {
  background: #FFFFFF;
}
.form-block {
  position: relative;
  overflow: hidden;
  /* background: url('/templates/chinaautosalon/img/for-color/form3-3.png') no-repeat right top / contain; */
  background: url('/templates/chinaautosalon/img/for-color/form3(3).png') no-repeat right -1px top 1px / contain;
  border-radius: 20px;
  border-radius: 20px;
  padding: 40px 400px 24px 34px;
}
.form-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}
.form-block::after {
  content: '';
  position: absolute;
  /* top: 10%; */
  top: 16%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4E3249;
  border-radius: 20px 20px 20px 20px;
}
.form-block::before,
.form-block::after {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  content: '';
  z-index: -1;
}
.form-block .block-name {
  color: #FFFFFF;
  padding-top: 30px;
}
.form-block .top-text {
  color: #FFFFFF;
}
.form-block .row p {
  color: #98AEC3;
}
.form-block .form-check label{
  color: #FFFFFF;
}
.form-block button {
  height: 52px;
  font-weight: 600;
  color: #fff;
  background: #F3BA13;
  border-radius: 8px;
  margin-top: 25px;
}
.map-block .contacts button{
  background: #F3BA13;
}

.form-calculate2 .item .ui-widget-content {
  background: #F3BA13;
}
.form-calculate2 .item .ui-state-default,
.form-calculate2 .item .ui-widget-content .ui-state-default,
.form-calculate2 .item .ui-widget-header .ui-state-default,
.form-calculate2 .item .ui-button,
.form-calculate2 .item html .ui-button.ui-state-disabled:hover,
.form-calculate2 .item html .ui-button.ui-state-disabled:active {
  border: 3px solid #F3BA13;
}

.form-calculate3 .item .ui-widget-content {
  background: #F3BA13;
}

.form-calculate3 .item .ui-state-default,
.form-calculate3 .item .ui-widget-content .ui-state-default,
.form-calculate3 .item .ui-widget-header .ui-state-default,
.form-calculate3 .item .ui-button,
.form-calculate3 .item html .ui-button.ui-state-disabled:hover,
.form-calculate3 .item html .ui-button.ui-state-disabled:active {
  border: 3px solid #F3BA13;
}
.line_cred::after {
  background: #F3BA13;
}
.catalog-page .item .credit .spanrate {
  background-color: #F3BA13;
}
.car-plate__button {
  background: #F3BA13;
  color: #fff;
}
.item-page .info .credit span {
  background: #F3BA13;
}
.item-page .info .buttons button.color1 {
  background: #F3BA13;
}
.wrap-credit-left .credit-left-rate span {
  background: #F3BA13;
}
.color5 {
  background-color: #F3BA13;
}
.config-price{
  color:#4E3249;
}
.form-block2 button{
  background: #F3BA13;
}

.card-title{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #F3BA13;
}
.card-text{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.details_promo{
  font-weight: 600;
  font-size:20px;
  width: 90%;
  height: 80px;
  background: #F2F3F7;
  color: #F3BA13;
  border-radius: 8px;
  border: 1px solid #F3BA13;
}

.filter-buttons-wrapper .button_clear button {
  background: url('/templates/autosalon/img/clear.svg') no-repeat 35px;
  /* background: #111; */
  /* background: #F2F3F7; */
  color: #5764DE;
  text-decoration: underline;
}

.form-block button:hover,
.header .offcanvas.show .offcanvas-body div button:hover,
.header .contacts button:hover,
.filter-buttons-wrapper .button_find button:hover {
  background: #87808a;
}
.index-first-block .text button:hover {
  background: #87808a;
  color: #FFFFFF;
}

.filter-buttons-wrapper .button_clear button:hover {
  background: #F2F3F7;
  color: #3e3e40;
}

.car-plate__button:hover{
  background: #87808a;
  color: #FFFFFF;
}

.fancybox-slide--html .fancybox-close-small {
  width: 30px;
  height: 30px;
  right: 10px;
  /* top: 37px; */
  top: 17px;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.catalog-page .item-bu {
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  overflow: hidden;
}

.catalog-page .item-bu img {
  width: 100%;
  height: 166px;
  object-fit: cover;
  object-position: center;
}

.catalog-page .item-bu .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.catalog-page .item-bu .row .characteristics-title {
  font-size: 14px;
  color: #000000;
  line-height: 16px;
}

.catalog-page .item-bu .row .characteristics-value {
  font-size: 14px;
  color: #A45E52;
  line-height: 16px;
}

.catalog-page .item-bu .price .new {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #F3BA13;
}

.catalog-page .item-bu .credit-new {
  font-weight: 600;
  font-size: 14px;
  color: #0A4B73;
}

.catalog-page .item-bu .buttons button.color2 {
  background: #4E3249;
  color: #FFFFFF;
}

.catalog-page .item-bu .buttons button {
  color: #fff;
  font-weight: 600;
  height: 52px;
  border-radius: 8px;
}

.form-block23 {
  background-image: url('/templates/chinaautosalon3/img/for-color/11111.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; 
  border-radius: 20px;
  /* height: 56vh;  */
  height: 51vh;
  border-radius: 20px;
  padding: 40px 34px 24px 951px;
}

.form-block23 .block-name{
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.form-block23 .top-text {
  font-size: 15px;
  line-height: 144.4%;
  width: 80%;
  color: #FFFFFF;
}

.popup .form-block23 input[type='text'] {
  height: 52px;
  border:#808890 1px solid ;
}


.popup .form-block23 input {
  height: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  appearance: none;
  background: url(../templates/major/img/select.svg) no-repeat right 12px top 50%;
}

.popup .form-block23 a{
  display: unset;
}

.popup .form-block23 .personal-link{
  text-decoration: underline;
}

.popup .form-block-trade .agree,
.popup .form-block23 .agree{
  color: #FFFFFF;
}

div#popup-trade_innew,
.form-block-trade {
  background: #4E3249;
}

.form-block-trade .block-name {
  color: #FFFFFF;
  padding-top: 13px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.form-block-trade .top-text {
  font-size: 15px;
  line-height: 144.4%;
  width: 80%;
  color: #FFFFFF;
}

.form-block-trade .imgform-new{
  background-image: url('/templates/chinaautosalon3/img/for-color/popupform.png');
  background-size: cover;
  background-position: center;
  width:300px;
}

.item-page .container .row .info-conf{
  font-size: 18px;
  color: #A45E52;
  font-weight: 500;
}

.form-block-trade .form-check input[type='checkbox']{
  background-color: #4E3249;
}

.form-block-trade .form-check label{
  font-size: 12px; 
  color: #FFFFFF;
}

.item-page .container .row .characteristics-value{
  font-size: 14px;
  color: #0A4B73;
  line-height: 154%;
  font-weight: 500;
}

.item-page .info .buttons button.color8 {
  background: #FFFFFF;
  border: #4E3249 1px solid;
  color: #4E3249;
}

@media (max-width: 1535px){
  .form-block23 {
    background-image: url('/templates/chinaautosalon3/img/for-color/11111.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    border-radius: 20px;
    height: 56vh; 
    border-radius: 20px;
    /* padding: 40px 34px 24px 870px; */
    padding: 40px 34px 24px 745px;
  }
}

@media (max-width: 1450px){
  .form-block23 {
    background-image: url('/templates/chinaautosalon3/img/for-color/11111.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left; 
    border-radius: 20px;
    height: 56vh; 
    border-radius: 20px;
    /* padding: 40px 34px 24px 870px; */
    padding: 40px 34px 24px 677px;
  }
}

@media (max-width: 1199px) {
  .form-block {
    padding: 30px;
    background: #C8E2F1;
    /* background: url('/templates/chinaautosalon/img/for-color/form3-3.png') no-repeat right top / contain; */
    background: url('/templates/chinaautosalon/img/for-color/form3(3).png') no-repeat right -1px top 1px / contain;
  }

  .form-block23 {
    background-image: url('/templates/chinaautosalon3/img/for-color/11111.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left; 
    border-radius: 20px;
    height: 50vh; 
    border-radius: 20px;
    padding: 40px 34px 24px 578px;
  }

  /* .form-block23 {
    padding: 30px;
    background: #4E3249;
  } */
}

@media (max-width: 991px) {
  .form-block {
    padding: 30px 30px 0px 30px;
    background: #4E3249;
  }
  .form-block .image-cont{
    background: url('/templates/chinaautosalon/img/for-color/form3(4).png') no-repeat center top / contain;
    height: 300px;
  }

  .fancybox-slide--html .fancybox-close-small {
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
  }

  .advantages-block .item {
    background: #FFFFFF;
    border-radius: 20px;
  }

  .form-block23 {
    padding: 30px;
    background: #4E3249;
  }

}

@media (max-width: 767px) {
  .header .phone {
    background: url('img/phone4.svg');
  }
  .index-first-block .text .name {
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;
    padding-left: 0px;
    text-align: start;
  }
    .steps-block {
      background-position: right;
      height: 65vh;
  }

  .form-block-trade {
    background: #4E3249;
  }
  .catalog-page .item-bu img {
    width: 100%;
    height: 234px;
    object-fit: cover;
    object-position: center;
}
}

@media (max-width: 575px) {
  .header .contacts button {
    background: #F3BA13 url('/templates/chinaautosalon/img/for-color/call2.png') no-repeat center;
  }
  .header .contacts button:hover {
    background: #87808a url('/templates/chinaautosalon/img/for-color/call2.png') no-repeat center;
  }
  .mobburger:hover{
    background: #87808a url(/templates/chinaautosalon/img/for-color/menu.png) no-repeat center;
    color: #f5f3f3;
  }
  .index-first-block .text button {
    color: #000000;
    background: #DFF249;
  }
  .steps-block {
    /* background: url('/templates/chinaautosalon/img/for-color/Frame 1000001759 (1).png') no-repeat right 0px top, linear-gradient(138.4deg, #ada6ae 14.47%, #87808a 73.53%); */
    background: url('/templates/chinaautosalon/img/for-color/Frame 1000001759.png') no-repeat left 0px top, linear-gradient(138.4deg, #7d7e81 14.47%, #7d7e81 73.53%);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .form-block23 {
    background: #4E3249 url('/templates/chinaautosalon3/img/for-color/11112.png') no-repeat center top / contain;
    /* height: 771px; */
    height: auto;
    padding: 364px 20px 24px 20px
  }

  .popup {
    top: 8%;
  }
  
}
@media (max-width: 430px) {
  
  .steps-block {
    height: auto;
    background-size: auto;
  }

  .form-block23 {
    background: #4E3249 url('/templates/chinaautosalon3/img/for-color/11112.png') no-repeat center top / contain;
    /* height: 690px; */
    height: auto;
    padding: 257px 20px 24px 20px
  }
  .catalog-page .item-bu img {
    width: 100%;
    height: 187px;
    object-fit: cover;
    object-position: center;
}
}

@media (max-width: 410px) {
  .form-block .image-cont{
    /* height: 207px; */
    height: 259px;
  }
}
@media (max-width: 767px) {
  .header .phone {
    background: url('img/phone6.svg');
  }

  .catalog-page .item-bu .row .characteristics-title {
    font-size: 13px;
    color: #000000;
    line-height: 16px;
  }
  
  .catalog-page .item-bu .row .characteristics-value {
    font-size: 13px;
    color: #A45E52;
    line-height: 16px;
  }
}