{% extends 'app.twig' %}
{% block MAIN %}
	    {% set catalog_number = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}

{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
display: 20,
parents: catalog_number,
depth: 5,
tvList:'car-price,car_photos,run,engine_power,gear,year,image',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
noneTPL:'@CODE: <div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
    </div>
  </div>
</div>',
})
%}
{#% cache 'main' ~ resource.id %#}

<div class="container">
	{{resource.content |raw}}</div>
	
	<div class="catalog-block">
	<div class="container-fluid catalog-products" id="catalog">
		<h2>Не нашли что искали? Посмотрите специальную подборку!</h2>
		{{DLCatalog |raw}}
	</div>
	<div class="bottom-button">
		<button onclick="window.location.href = '{{ makeUrl(27) }}';">Смотреть все <span></span></button>
	</div>
</div>
{% include('partials/contacts.twig') %}
{#% include '/partials/tradein.twig' %#}
{#% endcache %#}
{% endblock %}