<div class="block-name mb-5">
                Преимущества Автосалона
            </div>
<div class="popups-row">
    <div class="popups-row__item-wr" style="cursor: pointer">
        <span>Дарим 10% первоначального взноса</span>
    </div>
    <div class="popups-row__item-wr" style="cursor: pointer">
        <span>Госпрограмма на семейный и первый авто</span>
    </div>
    <div class="popups-row__item-wr" style="cursor: pointer">
        <span>Гарантия на авто 5 лет</span>
    </div>
    <div class="popups-row__item-wr" style="cursor: pointer">
        <span>Выгода tradein от 250 000 руб</span>
    </div>
</div>
