<div class="pt-3 pb-3">

<div class="popups-row">
        <div class="presents-banner__caption">Акции</div>

        <div class="popups-row__item-wr" style="cursor: pointer">
            <a onclick="showPlatesInitialFeePopup(7480, '/storage/static/images/models/volkswagen/polo-new/colors/pure-416x358-mirror.png')" rel="nofollow" class="popups-row__item popups-row__item_percent"><span>Дарим 10% первоначального взноса</span></a>
        </div>
        <div class="popups-row__item-wr" style="cursor: pointer">
            <a onclick="showPlatesFamilyPopup(7480, '/storage/static/images/models/volkswagen/polo-new/colors/pure-416x358-mirror.png')" rel="nofollow" class="popups-row__item popups-row__item_family"><span>Госпрограмма на семейный и первый авто</span></a>
        </div>
        <div class="popups-row__item-wr" style="cursor: pointer">
            <a onclick="showPlatesGuaranteePopup(7480, '/storage/static/images/models/volkswagen/polo-new/colors/pure-416x358-mirror.png')" rel="nofollow" class="popups-row__item popups-row__item_guarantee"><span>Гарантия на авто 5 лет</span></a>
        </div>
        <div class="popups-row__item-wr" style="cursor: pointer">
            <a onclick="showTradeInPopup(7480, '/storage/static/images/models/volkswagen/polo-new/colors/pure-416x358-mirror.png')" rel="nofollow" class="popups-row__item popups-row__item_tradein"><span>Выгода tradein от 250 000 руб</span></a>
        </div>
    </div>
</div>
<div class="pt-3 pb-3">

<div class="presents-banner">
    <div class="presents-banner__caption">Подарок при покупке</div>
    <div class="presents-banner__items">
        <div class="presents-banner__item">
            <div class="presents-banner__icon">
                <img src="/templates/autosalon/images/tires.png" alt="">
            </div>
            <div class="presents-banner__text">Зимняя резина</div>
        </div>
        <div class="presents-banner__item">
            <div class="presents-banner__icon">
                <img src="/templates/autosalon/images/police.png" alt="">
            </div>
            <div class="presents-banner__text">Полис КАСКО</div>
        </div>
        <div class="presents-banner__item">
            <div class="presents-banner__icon">
                <img src="/templates/autosalon/images/gibdd.png" alt="">
            </div>
            <div class="presents-banner__text">Регистрация в ГИБДД</div>
        </div>
        <div class="presents-banner__item">
            <div class="presents-banner__icon">
                <img src="/templates/autosalon/images/fuel.png" alt="">
            </div>
            <div class="presents-banner__text">Полный бак</div>
        </div>
    </div>
</div>
</div>
