<footer class="footer">
	<div class="container flex">
		<ul>
			<li class="d-inline-block">
				<a href="/katalog-novyh-avtomobilej/">Каталог новых автомобилей</a>
			</li>
			<li class="d-inline-block">
				<a href="kredit">Кредит на автомобили</a>
			</li>
			<li class="d-inline-block">
				<a href="kontakty">Контакты</a>
			</li>
		</ul>
		<div class="copy text-right">
			© 2023 Автосалон
			<a href="/policy" class="d-block">Политика конфиденциальности</a>
		</div>
	</div>
	<div class="container"><p style="font-size: 8px;" class="pt-1">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджерам автосалона.

Кредит предоставляется Банком-партнером АО "ОТП Банк" Ген. лицензия ЦБ РФ № 2766 от 27.11.2014. Страховые услуги СПАО "Ингосстрах" лицензия ЦБ РФ №0928 от 23.09.2015.
</p></div>
</footer>
<div class="popup" id="popup" style="display: none; width: 96%;">
		{{ runSnippet('Form', {
		formid: 'FormCallback',
		path: '/templates/autosalon/partials/forms/feedback/',
		extension: 'twig'
		}) | raw }}
</div>