{% set headermenu = runSnippet('DLMenu', {
parents: baseSettings["id"],
tvList: 'image',
rowTpl: '@CODE:<li class="d-md-inline-block"><a href="[+url+]">[+pagetitle+]</a></li>',
outerTpl: '@CODE:<ul class="pt-md-2 mt-md-1">
    [+wrap+]</ul>'}) %}
<header class="header">
	<div class="container">
		<div class="flex">
			<div class="logo">
				<a href="/">
                    {% if baseSettings["logo"] %}
                        <img src="{{ runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=130,h=45,far=C,f=png,q=1'}) }}">
                    {% else %}
                        <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                        </div>
                    {% endif %}
					<span class="d-inline-block">
						Лучший дилер
						<br/>

						По версии журнала <br/>"Дилеры России" 2022г.
					</span>
				</a>
			</div>
			<div class="adress">
				<div><img src="/templates/autosalon/img/map.png" class="mr-3"></div>
				<div>
					<span class="d-block"></span>{{baseSettings.salon_location}}

				</div>
			</div>
			<div class="contacts">
				<a class="menu-button"></a>
				{{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class:"phone pl-4"}) | raw}}
				<button data-fancybox="" data-src="#popup">Заказать звонок</button>
				<div class="hours">
					Работаем ежедневно
					<br/>
					с 09:00 до 21:00
				</div>
			</div>
		</div>
		<nav>
			<ul>
				<li class="d-inline-block">
					<a href="/katalog-novyh-avtomobilej/">Каталог новых автомобилей</a>
				</li>
				<li class="d-inline-block">
					<a href="kredit">Кредит на автомобили</a>
				</li>
				<li class="d-inline-block">
					<a href="kontakty">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
