<div class="modal fade" id="oneclick" tabindex="-1" role="dialog" aria-labelledby="oneclick" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: #b71f25;">
      <!--div class="modal-header">
        <h5 class="modal-title" id="oneclick">Форма обратной связи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div-->
      <!--div class="modal-body">
        Оставьте заявку - и наш менеджер свяжется с Вами в ближайшее время      </div-->{#{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autodm/partials/forms/feedback_modal/',
      extension: 'twig'
      }) | raw }#}
      <!--div class="modal-footer">
        <button type="button" class="btn btn-primary">Отправить</button>
      </div-->
    </div>
  </div>
</div>
{{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/rofl/partials/forms/feedback_modal/',
extension: 'twig'
}) | raw }}
{{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/rofl/partials/forms/feedback_modal_bron/',
extension: 'twig'
}) | raw }}
<div class="modal fade" id="tradein" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Закажите оценку Вашего автомобиля в TradeIn:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ runSnippet('Form', {
              formid: 'FormTradeIn',
              path: '/templates/rofl/partials/forms/tradeIn/',
              extension: 'twig'
              }) | raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="trade-in-popup" class="popup-fb popup_trade-in" style="display: none;">
  <div class="popup__header popup__header_trade-in">
    <div>
      <div class="popup__heading">Получите лучшее предложение по&nbsp;Trade&nbsp;In</div>
      <div class="popup__subheading">Оценим ваш автомобиль за 10 минут</div>
    </div>
    <div>
      <div class="popup__descr">Выгода до</div>
      <div class="popup__nums">250 000 рублей</div>
    </div>
    <div class="popup__auto">
      <img src="/templates/autosalon/images/tradein-popup-car.png" alt="">
    </div>
    <img class="popup__header-pic" src="/templates/autosalon/images/money-popup.png" alt="">
  </div>
  <div class="popup__content">
    <div role="form" class="wpcf7" id="" lang="ru-RU" dir="ltr">
      {{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autosalon/partials/forms/feedback_popup/',
      extension: 'twig'
      }) | raw }}
    </div>
  </div>
</div>
<div class="sticky">
  <div class="sticky__close"></div>
  <a href="#trade-in-popup" data-fancybox="" class="sticky__plate sticky__plate_tradin">
    <img src="/templates/autosalon//images/sticky-car.png" alt="">
    <div class="sticky__inner">
      <div class="sticky__circle"></div>
      <div class="sticky__caption">Пора обновляться!</div>
      <div class="sticky__descr">Максимальная выгода от Trade-In</div>
      <div class="button button_red button_sm"><span>250 000 руб</span></div>
    </div>
  </a>
</div>
