<div class="modal fade" id="oneclick" tabindex="-1" role="dialog" aria-labelledby="oneclick" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: #b71f25;">
      <!--div class="modal-header">
        <h5 class="modal-title" id="oneclick">Форма обратной связи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div-->
      <!--div class="modal-body">
        Оставьте заявку - и наш менеджер свяжется с Вами в ближайшее время      </div-->{#{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autodm/partials/forms/feedback_modal/',
      extension: 'twig'
      }) | raw }#}
      <!--div class="modal-footer">
        <button type="button" class="btn btn-primary">Отправить</button>
      </div-->
    </div>
  </div>
</div>
{{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/rofl/partials/forms/feedback_modal/',
extension: 'twig'
}) | raw }}
{{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/rofl/partials/forms/feedback_modal_bron/',
extension: 'twig'
}) | raw }}
<div class="modal fade" id="tradein" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Закажите оценку Вашего автомобиля в TradeIn:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ runSnippet('Form', {
              formid: 'FormTradeIn',
              path: '/templates/rofl/partials/forms/tradeIn/',
              extension: 'twig'
              }) | raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="trade-in-popup" class="popup-fb popup_trade-in" style="display: none;">
  <div class="popup__header popup__header_trade-in">
    <div>
      <div class="popup__heading">Получите лучшее предложение по&nbsp;Trade&nbsp;In</div>
      <div class="popup__subheading">Оценим ваш автомобиль за 10 минут</div>
    </div>
    <div>
      <div class="popup__descr">Выгода до</div>
      <div class="popup__nums">250 000 рублей</div>
    </div>
    <div class="popup__auto">
      <img src="/templates/autosalon/images/tradein-popup-car.png" alt="">
    </div>
    <img class="popup__header-pic" src="/templates/autosalon/images/money-popup.png" alt="">
  </div>
  <div class="popup__content">
    <div role="form" class="wpcf7" id="" lang="ru-RU" dir="ltr">
      {{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autosalon/partials/forms/feedback_popup/',
      extension: 'twig'
      }) | raw }}
    </div>
  </div>
</div>
<div class="sticky">
  <div class="sticky__close"></div>
  <a href="#trade-in-popup" data-fancybox="" class="sticky__plate sticky__plate_tradin">
    <img src="/templates/autosalon//images/sticky-car.png" alt="">
    <div class="sticky__inner">
      <div class="sticky__circle"></div>
      <div class="sticky__caption">Пора обновляться!</div>
      <div class="sticky__descr">Максимальная выгода от Trade-In</div>
      <div class="button button_red button_sm"><span>250 000 руб</span></div>
    </div>
  </a>
</div>

<div id="credit-popup-plate" class="popup fancybox-content">
    <div class="popup__header">
        <div>
            <div class="popup__heading">Получите расчет платежей по автокредиту</div>
            <div class="popup__subheading popup__car_name"></div>
        </div>
        <div>
            <div class="popup__descr">В кредит от</div>
            <div class="popup__nums popup__price">20 300 руб/мес</div>
        </div>
        <div class="popup__auto">
            <img class="popup__image" src="/storage/static/images/models/skoda/octavia-new/colors/seriy-metallik-416x358-mirror.png" alt="">
        </div>
        <img class="popup__header-pic" src="/images/percent.png" alt="">
    </div>
    <div class="popup__content">
        <div role="form" class="wpcf7" id="" lang="ru-RU" dir="ltr">
            <form data-id="credit" id="car-credit-modification-line-extended" action="#" method="post" class="wpcf7-form" novalidate="novalidate">
        <span class="wpcf7-form-row">
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33">
            <span class="wpcf7-form-control-wrap-label">Как вас зовут?</span>
            <input type="text" name="name" value="" class="wpcf7-form-control" placeholder="введите">
          </span>
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33">
            <span class="wpcf7-form-control-wrap-label">Телефон</span>
            <input type="tel" name="phone" value="" class="wpcf7-form-control error" placeholder="+7   (   )   -   -" aria-invalid="true">
          </span>

          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33 wpcf7-form-control-wrap-button">
            <button type="submit" class="button button_red ">Отправить заявку</button>
          </span>
        </span>
                <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_checkbox" style="margin-top: 10px">
                            <label class="checkbox changed">
                                <input type="checkbox" id="" name="agreement" value="">
                                <span class="checkbox__field">Даю согласие на обработку персональных данных</span>
                            </label>
                </span>
            </form>
        </div>
    </div>
    

<script> 
document.addEventListener("DOMContentLoaded", function() {
  var closeBtn = document.querySelector(".sticky__close");
  closeBtn.addEventListener("click", function() {
    var sticky = document.querySelector(".sticky");
    sticky.style.display = "none";
  });
});

</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('myButton').addEventListener('click', function() {
            showCreditPopup(
                7821,
                '/storage/static/images/models/kia/rio-sedan/colors/kristalno-beliy-416x358-mirror.png',
                '12 600'
            );
        });
    });
</script>

